
@{
    ViewBag.Title = "很抱歉，未找到相关的页！";
}

<main class="text-center" style="padding:50px;">
    <div class="container">
        <p style="margin-bottom:100px;">
            <img src="~/Themes/XiPin/Content/img/404.png" alt="404" class="img-responsive" style="margin:50px auto;" />
        </p>
        <p>很抱歉，未找到相关的页！</p>
        <p><a href="/" class="btn btn-primary"><i class="iconfont icon-home"></i> 返回主页</a></p>
        </div>
</main>

