@model  IEnumerable<QNZ.Data.CarouselSet>


    <div class="swiper-container">
        <div class="swiper-wrapper">
            @if (Model != null)
            {

                foreach (var ad in Model)
                {
                    <div class="swiper-slide" style="background-image:url('@ad.ImageUrl')">
                        <a href="@ad.WebLink" class="item">

                        </a>
                    </div>
                }

            }


        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
