
<!-- FileManager modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="fileManagerModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @Html.Action("SigFinder")
            <div class="modal-footer" style="border:none;">
                <button type="button" class="btn btn-primary" id="selectImage">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>