@model IEnumerable<ArticleCategoryFVM>
    <div class="banner banner-news">
        <div class="header-news">
            <h3>云门资讯</h3>
            <p>
                居山林，润玉泉，<br/>
                深耕百载，青叶密林，<br />
                云门匠制，手造天成。
            </p>
         
        </div>
        <nav>
            @foreach (var item in Model)
            {
                <a href="@Url.Action("List","Article",new { alias = item.Alias  })">@item.Title</a>
            }
        </nav>
    </div>
