.mplnone {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagebg {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.m-b-50 {
  margin-bottom: 50px;
}
.pt40 {
  padding-top: 40px;
}
.m-t-50 {
  margin-top: 50px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-t-25 {
  padding-top: 25px;
}
.p-t-40 {
  padding-top: 40px;
}
.p-t-50 {
  padding-top: 50px;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.bx-wrapper {
  box-shadow: none;
  border: none;
}
.bx-wrapper .bx-caption span {
  font-size: 24px;
}
.bx-wrapper .bx-pager {
  text-align: right;
  position: relative;
  bottom: 0;
  margin-top: -62px;
}
@media only screen and (min-width: 768px) {
  .bx-wrapper .bx-pager {
    width: 750px;
  }
}
@media only screen and (min-width: 992px) {
  .bx-wrapper .bx-pager {
    width: 970px;
  }
}
@media only screen and (min-width: 1200px) {
  .bx-wrapper .bx-pager {
    width: 1170px;
  }
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background-color: #fff;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: #fff;
  width: 30px;
}
.bx-viewport {
  height: 300px;
}
@media only screen and (min-width: 768px) {
  .bx-viewport {
    height: 500px;
  }
}
.bxslider {
  overflow: hidden;
  height: 300px;
}
@media only screen and (min-width: 768px) {
  .bxslider {
    height: 500px;
  }
}
@media only screen and (min-width: 992px) {
  .bxslider {
    height: 760px;
  }
}
.bxslider div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bxslider a {
  display: block;
  height: 300px;
}
@media only screen and (min-width: 768px) {
  .bxslider a {
    height: 500px;
  }
}
@media only screen and (min-width: 992px) {
  .bxslider a {
    height: 760px;
  }
}
.dl-horizontal dt {
  float: left;
  width: 100px;
  padding: 5px 0;
  margin: 0;
}
.dl-horizontal dd {
  padding: 5px 0;
  border-bottom: 1px #ddd dotted;
  margin: 0;
  margin-left: 105px;
}
.navbar {
  margin-bottom: 0;
}
.pagination > li > a,
.pagination > li > span {
  color: #555555;
}
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: #36c1a7;
  border-color: #36c1a7;
}
.table-vmiddle th,
.table-vmiddle td {
  vertical-align: middle !important;
}
.breadcrumb {
  background-color: transparent;
}
.navbar {
  position: relative;
  border: none;
  text-align: right;
}
.navbar ul.mainav {
  margin: 0;
}
.navbar ul.mainav > li {
  display: inline-block;
}
.navbar ul.mainav > li > a {
  font-size: 16px;
  text-decoration: none;
  display: block;
  height: 45px;
  line-height: 45px;
  padding: 0 25px;
  color: #fff;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .navbar ul.mainav > li > a {
    height: 70px;
    line-height: 70px;
  }
}
.navbar ul.mainav > li > a .iconfont {
  font-size: 12px;
  display: inline-block;
  transition: all .25s;
}
.navbar ul.mainav > li > a:hover {
  color: #fff;
}
.navbar ul.mainav > li > a:hover:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid #fff;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  bottom: 0px;
  left: 50%;
  margin-left: -5px;
  z-index: 1000;
}
.navbar ul.mainav > li > a:hover .iconfont {
  transform: rotate(180deg);
}
.navbar ul.mainav > li.downav {
  position: relative;
}
.navbar ul.mainav > li.downav .subnav {
  display: none;
  position: absolute;
  top: 70px;
  left: 50%;
  width: 150px;
  background-color: #fff;
  padding: 15px 0;
  margin: 0;
  list-style: none;
  margin-left: -75px;
  border-radius: 6px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}
.navbar ul.mainav > li.downav .subnav li {
  padding: 0;
  display: block;
}
.navbar ul.mainav > li.downav .subnav li a {
  text-align: center;
  display: block;
  color: #333;
  font-size: 14px;
  padding: 8px 0;
  transition: all .25s;
}
.navbar ul.mainav > li.downav .subnav li a:hover {
  color: #fff;
  background-color: #ff5000;
}
.navbar ul.mainav > li.downav .subnav li.current a {
  color: #fff;
  background-color: #ff5000;
}
.navbar ul.mainav li.active > a {
  color: #fff;
}
.navbar ul.mainav li.active > a:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid #fff;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  bottom: 0px;
  left: 50%;
  margin-left: -5px;
  z-index: 1000;
}
.pusher {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 6000;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
.pusher .rightnav {
  background-color: #ff5000;
  width: 200px;
  right: -200px;
  top: 0;
  position: absolute;
  height: 100%;
  color: #fff;
  padding-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px;
}
.pusher .rightnav ul.mainav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pusher .rightnav ul.mainav > li {
  padding: 3px 15px;
}
.pusher .rightnav ul.mainav > li > a {
  color: #000;
  font-size: 16px;
  display: block;
  padding: 0 15px;
  text-decoration: none;
  height: 31px;
  line-height: 29px;
  border-radius: 16px;
  border: 1px #000 solid;
}
.pusher .rightnav ul.mainav > li > a:hover {
  color: #ffb999;
  background-color: #000000;
}
.pusher .rightnav ul.mainav > li .subnav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pusher .rightnav ul.mainav > li .subnav li {
  padding: 0 15px;
}
.pusher .rightnav ul.mainav > li .subnav li a {
  display: block;
  padding: 5px 0;
  padding-left: 31px;
}
.pusher .rightnav ul.mainav > li .subnav li.current a {
  border-bottom: 2px #000 solid;
}
.pusher .rightnav ul.mainav > li.active > a {
  background-color: #000;
  color: #ff5000;
}
/*
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .table-download {
    border-bottom: 1px #ccc solid;
    display: block;
    /*
		    Label the data
		    */
  }
  .table-download thead,
  .table-download tbody,
  .table-download th,
  .table-download td,
  .table-download tr {
    display: block;
  }
  .table-download thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-download td {
    /* Behave  like a "row" */
    vertical-align: middle;
    border: none;
    position: relative;
    padding-left: 50% !important;
  }
  .table-download td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .table-download td:nth-of-type(1):before {
    content: "";
  }
  .table-download td:nth-of-type(2):before {
    content: "主题";
  }
  .table-download td:nth-of-type(3):before {
    content: "分类";
  }
  .table-download td:nth-of-type(4):before {
    content: "文件大小";
  }
  .table-download td:nth-of-type(5):before {
    content: "下载次数";
  }
  .table-download td:nth-of-type(6):before {
    content: "";
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    width: 100%;
  }
}
/* contact start ==================================================  */
.page-contact {
  margin-bottom: 50px;
}
.page-contact .contactform,
.page-contact .bus-path {
  background-color: #f7f7f7;
  border-radius: 6px;
  padding: 15px 25px;
  margin-bottom: 15px;
}
.page-contact h3.title {
  font-size: 24px;
  font-weight: normal;
  color: #333333;
  margin: 0 0 20px;
}
@media only screen and (min-width: 992px) {
  .page-contact .salers {
    padding: 15px 100px;
  }
}
.page-contact .saler {
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .page-contact .saler {
    padding: 0 15px;
  }
}
.page-contact .saler h3 {
  color: #000;
}
.page-contact .saler .avatar {
  border-radius: 50%;
  padding: 5px;
  border: 1px #eee solid;
}
.page-contact .saler dl {
  background-color: #ff5000;
  border-radius: 6px;
  color: #fff;
  padding: 8px 15px;
}
.page-contact .saler dl dd {
  padding: 0;
  margin: 0;
}
.contactus {
  background-color: #f7f7f7;
  padding: 25px 0;
}
.contactus h4.setitle {
  font-size: 24px;
  color: #000;
  text-align: center;
}
.contactus ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
}
.contactus ul li {
  border-bottom: #ddd 1px solid;
  padding: 8px 0;
}
.baidumap {
  width: 100%;
  height: 550px;
  margin-bottom: 50px;
}
.sendform .box-header {
  margin-bottom: 20px;
}
.sendform .box-header h3 {
  font-size: 24px;
  font-weight: normal;
  color: #333333;
  margin: 0;
}
.sendform .box-header p {
  margin: 0;
}
.sendform .send_email .form-control {
  border: 3px #eeeeee solid;
  padding: 5px;
  height: 40px;
  margin-bottom: 15px;
  font-size: 16px;
  width: 100%;
  border-radius: 0 12px;
}
.sendform .send_email .form-control:focus {
  outline-style: none;
  border-color: #f90;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0 0 6px;
}
.sendform .send_email textarea.form-control {
  height: auto;
}
.sendform .send_email .btn {
  border: none;
  background-color: #555555;
  color: #fff;
  padding: 5px 15px;
  font-size: 18px;
  border-radius: 0 12px;
  border: 3px #eeeeee solid;
}
.sendform .send_email .btn:hover {
  background-color: #ff5000;
}
.sendform .send_email p {
  margin: 0;
  margin-bottom: 30px;
}
/* contact end ==================================================  */
.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  height: 41px;
  background-color: #4cdbc3;
  border-color: #36c1a7;
}
.btn-primary:hover {
  background-color: #25af94;
  border-color: #25af94;
}
input.input-validation-error {
  border-color: #d9534f;
}
.form-control:focus {
  border-color: #36c1a7;
  box-shadow: none;
}
.field-validation-error {
  color: #d9534f;
  display: block;
  margin-top: 5px;
  text-align: right;
}
.btn {
  border: 1px #eee solid;
  border-radius: 4px;
  height: 38px;
  line-height: 36px;
  padding: 0 25px;
  background-color: #ffffff;
}
.btn.btn-b-orange {
  border: 1px #ff5000 solid;
  color: #ff5000;
  transition: all 250ms;
}
.btn.btn-b-orange:hover {
  background-color: #ff5000;
  color: #fff;
}
.btn.btn-lg {
  line-height: 46px;
  padding: 0 42px;
  height: 48px;
}
.page-news {
  padding-bottom: 25px;
  padding-top: 120px;
}
.page-news .item {
  position: relative;
  display: block;
  margin-bottom: 50px;
}
.page-news .item .thumbnail {
  margin-bottom: 15px;
}
.page-news .item .thumbnail img {
  width: 100%;
  transition: all .3s;
}
.page-news .item .thumbnail img:hover {
  transform: scale(1.05);
}
.page-news .item .des h3 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 20px;
  text-transform: uppercase;
  color: #333;
}
.page-news .item .des h3:hover {
  color: #ff5000;
}
.page-news .item .des p {
  color: #999;
}
.page-news .item .des .meta {
  color: #999;
}
.page-news .article h2.title {
  color: #333;
  font-size: 32px;
  margin: 0 0 15px;
}
.page-news .article .content {
  margin-bottom: 40px;
  line-height: 1.8;
}
.page-news .note {
  margin-bottom: 15px;
  position: relative;
  margin-bottom: 20px;
}
.page-news .note ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-news .note ul li {
  display: inline-block;
  color: #999;
  font-size: 12px;
  padding: 0 8px;
  border-left: 1px #ddd solid;
}
.page-news .note ul li:first-child {
  border: none;
  padding-left: 0;
}
.page-news .note:after {
  content: ' ';
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ddd;
  position: absolute;
  left: 0;
  top: 25px;
}
.banner {
  background: url(../img/banner/bg2_002.jpg) no-repeat center top;
  height: 300px;
  padding-top: 80px;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .banner {
    height: 450px;
    padding-top: 136px;
  }
}
.banner .page-title {
  background: url(../img/title.png) no-repeat 15px 60px;
  color: #000;
  padding-left: 100px;
  padding-top: 50px;
  background-size: 65px 65px;
}
@media only screen and (min-width: 768px) {
  .banner .page-title {
    padding-left: 135px;
    background: url(../img/title.png) no-repeat left 60px;
    background-size: 101px 101px;
  }
}
.banner .page-title h1 {
  font-size: 32px;
  margin: 0;
  font-weight: normal;
}
@media only screen and (min-width: 768px) {
  .banner .page-title h1 {
    font-size: 50px;
  }
}
.banner .page-title h3 {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
}
@media only screen and (min-width: 768px) {
  .banner .page-title h3 {
    font-size: 24px;
  }
}
.banner .des {
  color: #fff;
}
.banner .des h2 {
  font-size: 30px;
  margin: 0;
  font-weight: normal;
}
.banner.banner-brand {
  background: url(../img/banner/brand_banner.jpg) no-repeat center top;
  background-size: cover;
}
.banner.banner-job {
  background: url(../img/banner/slide21.jpg) no-repeat center top;
  background-size: cover;
}
.banner.banner-customize {
  background: url(../img/banner/custom_banner.jpg) no-repeat center top;
  background-size: cover;
}
.page-about {
  padding-top: 30px;
  margin-bottom: 60px;
}
@media only screen and (min-width: 768px) {
  .page-about {
    padding-top: 75px;
    margin-bottom: 120px;
  }
}
.page-about .title {
  text-align: center;
  border-bottom: 1px #f0f0f0 solid;
  width: 300px;
  margin: 0 auto 35px;
  height: 50px;
}
.page-about .title h2 {
  display: inline-block;
  height: 50px;
  padding: 0 15px;
  margin: 0;
  color: #030303;
  position: relative;
}
.page-about .title h2:after {
  content: " ";
  display: block;
  width: 70px;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  height: 3px;
  background-color: #ff5000;
  bottom: 0;
}
.page-about p {
  line-height: 1.8;
}
.page-about .intro {
  margin-bottom: 60px;
}
.page-about .intro p {
  text-indent: 2em;
  text-align: justify;
}
.page-about .box {
  border: 1px #ddd solid;
  padding: 15px;
  text-align: center;
  margin-bottom: 65px;
}
.page-about .box h2 {
  margin-top: -39px;
  background-color: #ff5000;
  width: 250px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  color: #fff;
  font-size: 18px;
  line-height: 45px;
  border-radius: 23px;
  height: 45px;
}
@media only screen and (min-width: 768px) {
  .page-about .box h2 {
    font-size: 20px;
    width: 296px;
  }
}
.page-about .box h2 i {
  position: absolute;
  left: 0;
  top: 11px;
  z-index: 100;
}
.page-about .box h2 i:last-child {
  right: 0;
  left: auto;
}
.page-about .box p {
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .page-about .box p {
    font-size: 20px;
  }
}
.page-products {
  padding-top: 30px;
}
.page-products .page-title {
  text-align: center;
  padding-top: 20px;
}
@media only screen and (min-width: 992px) {
  .page-products .page-title {
    padding-top: 0;
    text-align: left;
  }
}
.page-products .product-title {
  border-bottom: 3px #eee solid;
  margin: 0 0 15px;
  height: 45px;
  line-height: 45px;
  position: relative;
}
.page-products .product-title .share {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}
.page-products .product-title h3 {
  display: inline-block;
  margin: 0;
  height: 45px;
  border-bottom: 3px #ff5000 solid;
}
.page-products .product-title h3 small {
  font-weight: normal;
  font-size: 10px;
  color: #ddd;
}
.page-products .prodes {
  padding: 15px;
  background-color: #f7f7f7;
  margin-top: -15px;
}
.page-products .body-product img {
  max-width: 100%;
}
.page-products .well {
  background-color: #eee;
  padding: 15px;
  text-align: center;
}
.page-products .well ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-products .well ul li label {
  color: #999;
}
.page-products .categories {
  text-align: center;
  padding-top: 70px;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .page-products .categories {
    padding-top: 90px;
    padding-bottom: 20px;
  }
}
.page-products .categories .categorybox {
  display: inline-block;
  margin: 0 6px;
}
.page-products .categories .categorybox a {
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 0 25px;
  height: 31px;
  line-height: 29px;
  border-radius: 16px;
  border: 1px #eee solid;
  transition: all .25s;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .page-products .categories .categorybox a {
    padding: 0 35px;
    height: 45px;
    font-size: 16px;
    line-height: 43px;
    border-radius: 23px;
  }
}
.page-products .categories .categorybox a:hover {
  background-color: #ff5000;
  color: #fff;
  border-color: #ff5000;
}
.page-products .categories .categorybox a.active {
  background-color: #ff5000;
  color: #fff;
  border-color: #ff5000;
}
.page-products #productlist {
  padding-top: 8px;
}
.page-products #productlist div.productbox {
  margin-bottom: 30px;
  background-color: #f7f7f7;
  padding: 0;
  overflow: hidden;
}
.page-products #productlist div.productbox:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
.page-products #productlist div.productbox a {
  display: block;
  color: #fff;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.page-products #productlist div.productbox a img {
  width: 100%;
  display: block;
}
.page-products #productlist div.productbox a div.roll {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-products #productlist div.productbox .des {
  padding: 15px;
}
.page-products #productlist div.productbox .des h3 {
  font-size: 16px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 0 6px;
}
.page-products #productlist div.productbox .des p {
  color: #999;
  margin: 0;
}
.page-products .pagination-container {
  text-align: center;
}
.page-products .note {
  text-align: left;
}
.owl-dots {
  text-align: center;
}
.owl-dots span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 5px;
}
.owl-dots .active span {
  background-color: #ff5000;
}
.owl-nav {
  position: absolute;
  top: 50%;
  margin-top: -64px;
  z-index: 1200;
  width: 100%;
}
.owl-nav .owl-prev {
  position: absolute;
  left: -64px;
  top: 0;
}
.owl-nav .owl-next {
  position: absolute;
  right: -64px;
  top: 0;
}
.owl-nav .iconfont {
  font-size: 64px;
}
.page-jion {
  padding-top: 20px;
}
.page-jion .posts {
  background-color: #f7f7f7;
  margin-top: 20px;
}
.page-jion .posts ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-jion .posts ul li {
  height: 63px;
}
.page-jion .posts ul li a {
  display: block;
  line-height: 63px;
  height: 63px;
  font-size: 18px;
  padding-left: 18px;
  text-decoration: none;
  color: #333;
  transition: all .25s;
}
.page-jion .posts ul li a:hover {
  color: #fff;
  background-color: #ff5000;
}
.page-jion .posts ul li a.active {
  background-color: #ff5000;
  color: #fff;
  height: 63px;
  line-height: 63px;
}
.page-jion .content-job h2.title {
  font-size: 30px;
  border-left: 2px #ff5000 solid;
  line-height: 1;
  color: #000;
  padding-left: 20px;
}
.page-jion .content-job .note {
  height: 75px;
  border-bottom: 3px #eee solid;
}
.page-jion .content-job .note ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-jion .content-job .note ul li {
  float: left;
  height: 38px;
  line-height: 38px;
  color: #999;
  width: 215px;
}
.page-jion .content-job .note ul li.add {
  background-image: url(../img/icon_05.jpg);
}
.page-jion .content-job .note ul li.date {
  background-image: url(../img/icon_07.jpg);
}
.page-jion .content-job .job-body {
  margin-bottom: 80px;
}
.page-jion .content-job .job-body li {
  line-height: 1.8;
}
.page-jion .content-job .job-footer {
  background-color: #ff5000;
  color: #000;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
  margin-bottom: 50px;
}
.page-downloads .categories {
  text-align: center;
  padding-bottom: 25px;
  padding-top: 120px;
}
.page-downloads .categories a {
  display: inline-block;
  padding: 0 25px;
  height: 35px;
  line-height: 33px;
  border: 1px #eee solid;
  border-radius: 23px;
  transition: all .25s;
  margin: 0 5px 10px;
}
@media only screen and (min-width: 768px) {
  .page-downloads .categories a {
    padding: 0 35px;
    height: 45px;
    line-height: 43px;
  }
}
.page-downloads .categories a:hover {
  background-color: #ff5000;
  color: #fff;
  border-color: #ff5000;
}
.page-downloads .categories a.active {
  background-color: #ff5000;
  color: #fff;
  border-color: #ff5000;
}
.page-downloads .table-download {
  margin-top: 35px;
}
.page-downloads .table-download > thead {
  border-bottom: none !important;
  background-color: #333;
}
.page-downloads .table-download > thead > tr > th {
  font-weight: normal;
  color: #fff;
  font-size: 14px;
  border-bottom: none;
}
.page-downloads .table-download > tbody tr td {
  border: none;
}
.page-downloads .table-download > tbody tr td .btn-down {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: inline-block;
  line-height: 70px;
  text-align: center;
  background-color: #eee;
  color: #000;
}
.page-downloads .table-download > tbody tr td .btn-down .iconfont {
  font-size: 42px;
}
.page-downloads .table-download > tbody tr td .btn-down:hover {
  background-color: #ff5000;
}
.nav-page {
  position: relative;
  height: 120px;
}
.nav-page a {
  display: block;
  height: 56px;
  text-align: right;
  background-color: #f7f7f7;
  color: #666;
  line-height: 56px;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.nav-page a:hover {
  background-color: #36c1a7;
  color: #fff;
}
.nav-page div.prev a {
  padding-right: 60px;
  margin: 0 -15px;
}
.nav-page div.prev a:hover {
  padding-right: 75px;
}
@media only screen and (min-width: 768px) {
  .nav-page div.prev a:hover {
    padding-right: 135px;
  }
}
.nav-page div.prev a:hover:after {
  content: ' ';
  display: inline-block;
  border: 5px #fff solid;
  border-color: transparent;
  border-right-color: #fff;
  position: absolute;
  right: 60px;
  top: 23px;
  z-index: 50;
}
.nav-page div.next a {
  text-align: left;
  margin: 0 -15px;
  padding-left: 60px;
}
.nav-page div.next a:hover {
  padding-left: 75px;
}
@media only screen and (min-width: 768px) {
  .nav-page div.next a:hover {
    padding-left: 135px;
  }
}
.nav-page div.next a:hover:before {
  content: ' ';
  display: inline-block;
  border: 5px #fff solid;
  border-color: transparent;
  border-left-color: #fff;
  position: absolute;
  left: 60px;
  top: 23px;
  z-index: 50;
}
.nav-page .back {
  position: absolute;
  left: 50%;
  width: 56px;
  text-align: center;
  margin-left: -28px;
  background-color: #eee;
}
.nav-page .back a {
  text-align: center;
}
.nav-page .back a .iconfont {
  font-size: 24px;
}
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: #ff5000;
  border-color: #ff5000;
  color: #000;
  color: #fff;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  background-color: #eee;
  border-color: #eee;
  cursor: not-allowed;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font-family: "Microsoft YaHei", 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 16px;
  color: #666;
  background-color: #fff;
  line-height: 1.6;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #ff5000;
  text-decoration: none;
}
figure {
  margin: 0;
}
.clearfix {
  overflow: auto;
  _height: 1%;
}
.divider {
  border: none;
  border-bottom: 1px #ddd dashed;
}
.pageHeader {
  background-color: #ff5000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
  transition: all 800ms ease;
  z-index: 392;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}
@media only screen and (min-width: 768px) {
  .pageHeader {
    height: 70px;
    background-color: #ff5000;
  }
}
.pageHeader .logo {
  padding-top: 5px;
  display: block;
  text-decoration: none;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .pageHeader .logo {
    padding-top: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .pageHeader .logo {
    width: auto;
    overflow: visible;
    padding-top: 15px;
  }
}
.pageHeader .logo img {
  width: 155px;
}
@media only screen and (min-width: 768px) {
  .pageHeader .logo img {
    width: auto;
  }
}
.pageHeader .openmenu {
  height: 36px;
  width: 36px;
  position: absolute;
  top: 2px;
  right: 15px;
}
.pageHeader .openmenu a {
  text-decoration: none;
  color: #fff;
}
.pageHeader .openmenu a .iconfont {
  font-size: 28px;
  height: 40px;
  width: 40px;
  display: block;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .pageHeader .openmenu a .iconfont {
    font-size: 36px;
  }
}
@media only screen and (min-width: 768px) {
  .pageHeader .openmenu {
    top: 8px;
  }
}
@media only screen and (min-width: 1201px) {
  .pageHeader .openmenu {
    display: none;
  }
}
.pageHeader.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6000;
}
.section2 {
  margin-bottom: 50px;
}
.section2 .lastestNews .section-title {
  border-bottom: 1px #e0e0e0 solid;
  height: 51px;
  margin-bottom: 6px;
}
.section2 .lastestNews .section-title h2 {
  height: 50px;
  border-bottom: #ff5000 4px solid;
  display: inline-block;
  margin: 0;
  line-height: 46px;
  font-size: 18px;
  color: #030303;
  font-weight: normal;
}
.section2 .lastestNews .box {
  padding: 25px 0 20px 0;
}
@media only screen and (min-width: 768px) {
  .section2 .lastestNews .box {
    padding: 50px 15px 40px 0;
  }
}
.section2 .lastestNews .box:hover {
  background-color: #f5f5f5;
}
.section2 .lastestNews .box .thumb img {
  width: 100%;
}
.section2 .lastestNews .box .title {
  font-size: 24px;
  color: #030303;
  margin: 0 0 10px;
  text-align: justify;
}
.section2 .lastestNews .box .note {
  color: #999;
}
.section2 .lastestNews .box .note .iconfont {
  font-size: 20px;
  color: #ff5000;
}
.section2 .lastestNews .box p {
  color: #999;
}
.section2 hr.nomt {
  margin-top: 0;
}
.section2 .chart {
  border-top: 1px #e0e0e0 solid;
  margin-top: 50px;
  text-align: center;
}
.section2 .chart .art-title {
  margin: 0;
  display: inline-block;
  border-top: 2px #ff5000 solid;
  height: 56px;
  line-height: 48px;
  font-size: 18px;
  color: #030303;
  font-weight: normal;
}
.section2 .chart img {
  width: 100%;
}
.section2 .chart.zhuanlan {
  background-color: #fafafa;
  padding: 0 15px 25px;
}
.section2 .chart.zhuanlan ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section2 .chart.zhuanlan ul li {
  background: url(../img/dot.png) no-repeat left 11px;
  padding-left: 20px;
  text-align: left;
  margin-bottom: 15px;
}
.section2 .chart.zhuanlan ul li a {
  display: block;
}
.section2 .chart.zhuanlan ul li time {
  color: #999;
  font-size: 12px;
}
.section3 {
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .section3 {
    margin-bottom: 120px;
  }
}
.section3 .ad img {
  width: 100%;
}
.map_canvas {
  height: 640px !important;
}
@media only screen and (min-width: 768px) {
  .map_canvas {
    height: 600px !important;
  }
}
.map_canvas1 {
  height: 768px !important;
}
@media only screen and (min-width: 768px) {
  .map_canvas1 {
    height: 800px !important;
  }
}
.lastproducts {
  text-align: center;
  color: #000;
}
.lastproducts .title h2 {
  font-size: 32px;
  position: relative;
  padding-bottom: 10px;
  margin: 0;
}
.lastproducts .title h2:after {
  content: " ";
  display: block;
  width: 70px;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  height: 3px;
  background-color: #ffe800;
  bottom: 0;
}
.lastproducts .title p {
  color: #999;
}
.page-footer {
  width: 100%;
  background: #f7f7f7 url(../img/body-bg.png);
  font-size: 14px;
}
.page-footer a {
  color: #333;
}
.page-footer a:hover {
  text-decoration: underline;
}
.page-footer .logo {
  padding-top: 15px;
}
.page-footer .copyright {
  padding: 18px 0 20px;
}
.page-footer .qrcode {
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
}
@media only screen and (min-width: 768px) {
  .page-footer .qrcode {
    margin: 0 auto 15px;
    text-align: right;
  }
}
.page-footer .qrcode img {
  margin-bottom: 10px;
  width: 90px;
}