<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <section class="container s1">
        <h2 class="title-section">轻钢结构</h2>
        <p>
            轻钢结构是一种年轻而极具生命力的钢结构体系，已广泛应用于一般工农业、商业、服务性建筑，如办公楼、别墅、仓库、体育场馆、娱乐、旅游建筑和低、多层住宅建筑等领域，还可用于旧房增层、改造、加固和建材缺乏地区、运输不便地区、工期紧、活动式可拆迁建筑等，倍受业主青睐.
        </p>
        <div class="row">
            <div class="col-lg-auto">
                <div class="pic">
                    <img src="~/Content/img/case_img.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg">
                <ul>
                    <li>
                        采用高效轻型薄壁型材，自重轻、强度高、占用面积小。
                    </li>
                    <li>
                        结构设计、详图设计、计算机模拟安装、工厂制造、工地安装等以较小时间差同步进行。
                    </li>
                    <li>
                        构配件均为自动化、连续化、高精度生产，产品规格系列化、定型化、配套化。各部分尺寸精确。
                    </li>
                    <li>
                        基础以上干式工法没有湿作业，内装饰等易于一次到位。型材经过镀锌、涂层后外观优美且防腐，有利于减少围护和装修费用。
                    </li>

                </ul>
            </div>
            <div class="col-md">
                <ul>
                    <li>
                        新墙材应用范围广，大量使用采光带，通风条件好。
                    </li>
                    <li>
                        室内水暖电气管线全部隐蔽在墙体中和楼层间，布置灵活，修改方便。
                    </li>
                    <li>
                        房子可以搬迁、材料可全部回收利用，不会造成垃圾，符合可持续发展战略。
                    </li>
                    <li>
                        便于扩大柱距和提供更大分隔空间，可降低层高和增加建筑面积（住宅实用面积可达92%）在增层、改造、加固方面优势明显。

                    </li>

                </ul>
            </div>
        </div>
    </section>
    <div class="contact_bar">
        <div class="txt">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-auto">想了解FRAMEMAC的国际认证？</div>
                <div class="col-md-auto"><a href="/contact">联系我们</a></div>
            </div>

        </div>
    </div>
    <section class="s2">
        <div class="container">
            <h2 class="title-section">认证与合作</h2>
            <div class="partners">
                <div class="row">
                    <div class="col-4 col-md-3">
                        <div class="item">
                            <img src="~/Content/img/partner/1.png" alt="" />
                        </div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="item">
                            <img src="~/Content/img/partner/2.png" alt="" />
                        </div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="item">
                            <img src="~/Content/img/partner/3.png" alt="" />
                        </div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="item">
                            <img src="~/Content/img/partner/4.png" alt="" />
                        </div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="item">
                            <img src="~/Content/img/partner/5.png" alt="" />
                        </div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="item">
                            <img src="~/Content/img/partner/6.png" alt="" />
                        </div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="item">
                            <img src="~/Content/img/partner/7.png" alt="" />
                        </div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="item">
                            <img src="~/Content/img/partner/8.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>