@model IEnumerable<Article>
    <aside class="chart zhuanlan">
        <h3 class="art-title">专栏文章</h3>
        <ul>
            @foreach (var item in Model)
    {
        <li>
            <a href="@Url.Action("detail",new { id = item.Id})">@item.Title</a>
            <time>@item.Pubdate</time>
        </li>
}

        </ul>
    </aside>
