<div class="well well-sm">
    网站名称：{SiteName}；
    网站域名：{SiteURL}；
    用户名：{UserName}；
    密码：{Password}；
    密码重设路径：{ResetPasswordURL}；
    帐号激活地址：{ActiveAccountURL}；
    姓名：{Name}；
    公司：{Company}；
    邮箱：{Email}；
    电话：{Phone}；
    消息：{Message}；
</div>     
