@{
    ViewBag.Title = "名人系列";
}

<div class="page-celebs">
    <section class="container-fluid section-celebs">
        <div class="row">
            <div class="col-sm-4">
                <a href="@Url.Action("P1","Home")" class="item i1">
                    <div class="over">
                        <p>名人系列<br />卡卡沃·爱迪生-教堂婚礼</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="@Url.Action("P1","Home")" class="item i2">
                    <div class="over"><p>名人系列<br />卡卡沃·爱迪生-教堂婚礼</p></div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="@Url.Action("P1","Home")" class="item i3">
                    <div class="over"><p>名人系列<br />卡卡沃·爱迪生-教堂婚礼</p></div>
                </a>
            </div>
        </div>
    </section>
</div>