@{
    ViewBag.Title = "XIPIN希品";
}

@section header{
    @*<meta name="keywords" content="尚橙,尚橙配件,尚橙数据线,尚橙蓝牙耳机,尚橙充电器,线材,尚橙车充,车载充电器" />
        <meta name="description" content="尚橙，手机配件商，生产及研发手机数据线与充电器一体的新型的电子商务公司" />*@


    <link href="~/Plugins/owl.carousel/assets/owl.carousel.css" rel="stylesheet" />
}

@Html.Action("Carousels", "Ad", new { code = "A1001" })


@section footer{
    <script src="~/Plugins/owl.carousel/owl.carousel.min.js"></script>
    <script>

        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                items: 1,
                navText: ["<span class='iconfont'>&#xe614;</span>", "<span class='iconfont'>&#xe612;</span>"],
                loop: true,
                nav: true,
                autoplay: true,
                autoHeight: true,
                autoplayTimeout: 3000

            });
        });
    </script>


}
