<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Optimization" />
        <add namespace="TZGCMS.SiteWeb" />
        <add namespace="PagedList"/>
        <add namespace="PagedList.Mvc"/>
        <add namespace="TZGCMS.Infrastructure.Configs" />
        <add namespace="TZGCMS.Data.Entity.Identity"/>
        <add namespace="TZGCMS.Data.Enums"/>
        <add namespace="TZGCMS.Infrastructure.UI"/>
        <add namespace="TZGCMS.Resources.Admin"/>
        <add namespace="TZGCMS.Data.Entity.Emails"/>
        <add namespace="TZGCMS.Data.Entity.Articles"/>
        <add namespace="TZGCMS.Data.Entity.Videos"/>
        <add namespace="TZGCMS.Data.Entity.Ads"/>
         <add namespace="TZGCMS.Data.Entity.Products"/>
        <add namespace="TZGCMS.Data.Entity.Doc"/>
        <add namespace="TZGCMS.Data.Entity.Links"/>
        <add namespace="TZGCMS.Data.Entity.Chronicles"/>
        <add namespace="TZGCMS.Data.Entity"/>

        <add namespace="TZGCMS.Model"/>
        <add namespace="TZGCMS.Model.Admin.ViewModel.Menus"/>
        <add namespace="TZGCMS.Model.Admin.ViewModel.Log"/>
        <add namespace="TZGCMS.Model.Admin.ViewModel.System"/>
        <add namespace="TZGCMS.Model.Admin.ViewModel.Identity"/>
        <add namespace="TZGCMS.Model.Admin.ViewModel.Emails"/>
        <add namespace="TZGCMS.Model.Admin.ViewModel.Articles"/>
        <add namespace="TZGCMS.Model.Admin.ViewModel.Videos"/>
        <add namespace="TZGCMS.Model.Admin.ViewModel.Ads"/>
        <add namespace="TZGCMS.Model.Admin.ViewModel.Doc"/>
        <add namespace="TZGCMS.Model.Admin.ViewModel.Links"/>
        <add namespace="TZGCMS.Model.Admin.ViewModel.Chronicles"/>        
          <add namespace="TZGCMS.Model.Admin.ViewModel.Teams"/>


        <add namespace="TZGCMS.Model.Admin.InputModel"/>
        <add namespace="TZGCMS.Model.Admin.InputModel.Identity"/>
        <add namespace="TZGCMS.Model.Admin.InputModel.Pages"/>
        <add namespace="TZGCMS.Model.Admin.InputModel.Menus"/>
        <add namespace="TZGCMS.Model.Admin.InputModel.Emails"/>
        <add namespace="TZGCMS.Model.Admin.InputModel.Articles"/>
        <add namespace="TZGCMS.Model.Admin.InputModel.Videos"/>
        <add namespace="TZGCMS.Model.Admin.InputModel.Ads"/>
        <add namespace="TZGCMS.Model.Admin.InputModel.Doc"/>
        <add namespace="TZGCMS.Model.Admin.InputModel.Links"/>
        <add namespace="TZGCMS.Model.Admin.InputModel.Chronicles"/>
         <add namespace="TZGCMS.Model.Admin.InputModel.Teams"/>


      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>