<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>



    <div class="contact_bar">
        <div class="txt">
            <div class="row align-items-center justify-content-md-center">
                <div class="col-md-auto">想了解FRAMEMAC产品设备？</div>
                <div class="col-md-auto"><a href="/contact">联系我们</a></div>
            </div>

        </div>
    </div>

    <section class="container s2">
        <h2 class="title title-section">培训中心</h2>

        <div class="pxlist">
            <div class="row">
                <div class="col-md-4">
                    <div class="item">
                        <h3>
                            课程介绍
                        </h3>

                        <a href="/products/train/intro" class="more">查看更多 <img src="~/Content/img/arrow-right.png" alt="arrow right" /></a>
                        <p>
                            储能式结构，节能环保。液压部件为德国博世力士乐产品。
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <h3>
                            课程展示
                        </h3>

                        <a href="/products/train/course" class="more">查看更多 <img src="~/Content/img/arrow-right.png" alt="arrow right" /></a>
                        <p>
                            储能式结构，节能环保。液压部件为德国博世力士乐产品。
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <h3>
                            课程安排
                        </h3>

                        <a href="/products/train/arrangement" class="more">查看更多 <img src="~/Content/img/arrow-right.png" alt="arrow right" /></a>
                        <p>
                            储能式结构，节能环保。液压部件为德国博世力士乐产品。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    -----------------------------------------------------------------------------------------------------------------------------------------------

    <div class="page page-tran">
        <div class="container">
            <div class="title title-section">
                课程展示
            </div>



            <div class="bot">

                <div class="main-v1">
                    <h4>
                        FrameMac  Quikseries软件培训会
                    </h4>
                    <p>
                        2017年7月17日，由佛山市孚瑞美科技有限公司与战略合作伙伴-国际知名轻钢结构设计软件QuikSeries软件在佛山南海A乐轩酒店联合举办了为期5天的“FRAMEMAC QUKSERIES软件 2017年培训会”，来自全国数十位孚瑞美的客户参加了培训。
                    </p>
                    <p><img src="/Content/img/temp/p01.jpg" alt="" /></p>

                    <p>
                        本次不惜重金邀请软件厂商为自己客户提供设备操控软件培训的孚瑞美，是国内顶级的轻钢房屋设备制造商。依托着先进的 QuikSeries 软件和设计合理，质量可靠的设备，孚瑞美有着业界公认的良好口碑。本次培训会便是对孚瑞美科技始终用心服务客户和致力于向客户提供卓越产品理念的再一次精彩诠释。
                    </p>
                    <div class="tlist">
                        <div class="row">
                            <div class="col-6 col-md-4">
                                <img src="/Content/img/temp/tr01.jpg" alt="" />
                            </div>
                            <div class="col-6 col-md-4">
                                <img src="/Content/img/temp/tr02.jpg" alt="" />
                            </div>
                            <div class="col-6 col-md-4">
                                <img src="/Content/img/temp/tr03.jpg" alt="" />
                            </div>
                            <div class="col-6 col-md-4">
                                <img src="/Content/img/temp/tr04.jpg" alt="" />
                            </div>
                            <div class="col-6 col-md-4">
                                <img src="/Content/img/temp/tr05.jpg" alt="" />
                            </div>
                            <div class="col-6 col-md-4">
                                <img src="/Content/img/temp/tr06.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    -----------------------------------------------------------------------------------------------------------------------------------------------

    <div class="page page-tran">
        <div class="container">
            <div class="title title-section">
                课程介绍
            </div>

            <div class="top">
                <h4>软件培训</h4>
                <p>
                    我司每月定期组织一期关于轻钢结构软件的专人免费培训课程，请相关行业的行家，让客户和机械人员了解使用设计软件的基本使用方法,每期参加人数人数5~10人，为期一周内，食宿自理，无论客户是否购买设备，都可以参加免费培训。
                </p>
            </div>

            <div class="bot">
                <h3>软件的维护与培训费用</h3>
                <div class="main">
                    <h4>
                        维护与支持费用
                    </h4>
                    <ul>
                        <li>USD2200.00/年.</li>
                        <li>客户可以不购买（软件可以正常使用，不过没有新的升级服务）</li>
                    </ul>
                    <h4>培训费用</h4>
                    <ul>
                        <li>
                            澳洲培训：
                            <dl>
                                <dd>时间：3天（最多可5人参加)</dd>
                                <dd>价格：USD 4500.00 / 3天</dd>
                                <dd>培训费说明： 上述费用为澳大利亚VERTEX公司收取的费用，不包括：签证费、差旅费及其他费用，人数如果少于5人，费用不变。</dd>

                            </dl>
                        </li>
                        <li>
                            佛山工厂培训：

                            <dl>
                                <dd>时间：3天 （最多可5人参加）</dd>
                                <dd>价格：USD 4500.00 / 3天</dd>
                                <dd>价格：USD 6000.00 /3天（含澳洲老师到中国费用USD3000.00），学员在佛山的食宿费用由我司负责。</dd>

                            </dl>
                        </li>
                        <li>
                            佛山工厂我司专业工程师培训：
                            <dl>
                                <dd>时间：3天 （最多可5人参加）</dd>
                                <dd>培训老师为我司专业的工程师，有八年的行业设计实践经验。培训费用我司承担,学员需要承担食宿费用。</dd>

                            </dl>
                        </li>
                    </ul>

                    <p class="note">
                        如果不够5人参加培训，如果客户愿意承当 澳洲老师的培训费用与旅行费用，也可以为客户单独安排，相关费
                        用相应增加。
                    </p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>