<div class="banner banner-contact">
    <h3>党建工作</h3>
    <h4>Party Construction</h4>
    <hr />
    <nav>
        <a href="@Url.Action("List",new { alias = "zznews"})">总支新闻</a>
        <a href="@Url.Action("List",new { alias = "central_spirit"})">中央精神</a>
        <a href="@Url.Action("List",new { alias = "theoretical"})">理论学习</a>
    </nav>
</div>
