@model IEnumerable<ArticleVM>
@{ 
    int i = 0;
}
    <div class="container ">
        <div class="slider-container">
            <div class="flex-container">
         
                @foreach (var item in Model)
                {
                    <a href="@Url.Action("Detail",new { id = item.Id})" class="flex-slide @(i==0?"active":"")" style="background-image:url('@item.Thumbnail')">
                        <div class="flex-title">@item.Title</div>

                    </a>
                    i++;
                }


            </div>

        </div>



    </div>