
@{
    Layout = null;
    ViewBag.Title = "没有足够的权限，拒绝访问！";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>


    <div class="alert alert-danger">
        <p><span class="glyphicon glyphicon-info-sign"></span> @ViewBag.Title</p>
    </div>

</body>
</html>
