@model CompanyInfoIM
@{
    ViewBag.Title = "公司资料";
    ViewBag.PageTitle = ViewBag.Title + "_常规设置";
}

@section Header{
    <link href="~/plugins/SigFinder/SigFinder.min.css" rel="stylesheet" />
    <link href="~/plugins/webuploader/webuploader.css" rel="stylesheet" />
}


    <div class="panel panel-default">
        <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">联系方式</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">网络社交</a></li>
            </ul>
        </div>
    </div>




<!-- end main container -->

@Html.Action("PopuFinder", "File")
@section footer {
    @Scripts.Render("~/bundles/jqueryvalWithBootstrap")
<script src="/Plugins/webuploader/webuploader.min.js"></script>
<script src="/Plugins/SigFinder/FileManager.js"></script>



    <script>
        function SetThumbnail() {
            var fileUrl = $("#fileList .item.active").attr("data-file");
            $('#WeiXingCode').val(fileUrl);
            $('#fileManagerModal').modal('hide');
        }

        function onBegin() {
            $("#btnSave i").removeClass("fa-save").addClass("fa-spinner fa-spin")
        }
        function onComplete() {
            $("#btnSave i").removeClass("fa-spinner fa-spin").addClass("fa-save")
        }

        function onBegin1() {
            $("#btnSave1 i").removeClass("fa-save").addClass("fa-spinner fa-spin")
        }
        function onComplete1() {
            $("#btnSave1 i").removeClass("fa-spinner fa-spin").addClass("fa-save")
        }

        function onSuccess(data) {
            Common.ShowBox(data.Status, data.Message, "@ViewBag.Title");
            //  debugger;
        }
       

   
       $.validator.addMethod('qq', function(value, element)
       {
           if(value.length>0)
               return /^[1-9][0-9]{4,9}$/.test(value)
           return true;
       });
       $.validator.unobtrusive.adapters.addBool("qq");

       $.validator.addMethod('chinamobile', function (value, element) {
           if (value.length > 0)
               return /^0{0,1}(13[0-9]|15[7-9]|153|156|170|178|18[0-9])[0-9]{8}$/.test(value)
           return true;
       });

       $.validator.unobtrusive.adapters.addBool("chinamobile");

       $.validator.addMethod('coordinate', function (value, element) {
           if (value.length > 0)
               return /^[0-9]+(\.[0-9]+),[0-9]+(\.[0-9]+)$/.test(value)
           return true;
       });

       $.validator.unobtrusive.adapters.addBool("coordinate");
      

    </script>
}