<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>


    <section class="container s1">
        <h2 class="title-section">联系我们</h2>
        <div class="baidumap" id="map_canvas"></div>
    </section>
    <section class="container s2">
        <div class="row">
            <div class="col-md">
                <ul>
                    <li>
                        地址：佛山市南海区狮山镇桃园西路狮山罗洞邹边工业区4号
                    </li>
                    <li>传真：0757-81230272  </li>
                    <li>邮编：528000   </li>
                </ul>
            </div>
            <div class="col-md-auto">
                <ul>
                    <li>
                        服务热线：0757-81230272
                    </li>
                    <li>邮箱：Sales@Framemac.com</li>
                    <li>微信：孚瑞美科技有限公司</li>
                </ul>
            </div>
        </div>
    </section>


</body>
</html>