@model IEnumerable<ArticleVM>
@{
    ViewBag.Title = "搜索";

}

<div class="banner banner-search">
    <div class="container ">
        <div class="searchform">
            @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @class = "form-inline" }))
            {

                <div class="row no-gutters">
                    <div class="col">
                        @Html.TextBox("keyword",ViewData["Keyword"], new { @class = "form-control", autocomplete = "off", placeholder = "关键字" })
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary"><i class="iconfont icon-search"></i></button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class=" page page-search">
    <div class="results container">
        @if (Model!=null)
        {
            foreach (var item in Model)
            {
                <div class="item">
                    <a href="@Url.Action("Detail","Article",new { id = item.Id})" class="row no-gutters">
                        <div class="col">
                            <div class="title">
                                @Html.Raw(item.Title.Replace(ViewData["Keyword"].ToString(), "<strong>" + ViewData["Keyword"].ToString() + "</strong>"))
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="pubdate">
                                @string.Format("{0:d}", item.Pubdate)
                            </div>
                        </div>
                    </a>
                </div>
            }
        }



    </div>
</div>