
    <div class="banner banner-cooperation">
        <h3>海外合作</h3>
        <h4>Overseas Cooperation</h4>
        <hr />
        <nav>
            <a href="/cooperation#s1">简介</a>
            <a href="/cooperation#s2">新闻动态</a>
            <a href="/cooperation#s3">核心业务</a>
            <a href="/cooperation#s5">联系我们</a>
        </nav>
    </div>