
@{
    ViewBag.Title = "专家服务";
}
@Html.Partial("Header")

<div class="banner banner-service">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <aside class="page-title">
                    <h1>专家服务</h1>
                    <h3>Expert service</h3>
                </aside>
            </div>
            <div class="col-sm-7">
                <div class="des">
                    <h2>信息安全专家服务</h2>
                    <h2>为您的业务安全保驾护航</h2>
                    <p>2017年中国网民规模将达7.7亿，互联网在金融、农业、工业、教育、医疗、交通和旅游业、文化、家居家电、O2O生活服务、媒体广告等领域呈井喷式发展，颠覆传统行业的发展方式，成为新的趋势。快速发展之下，安全隐患重重，黑产与灰产也随之发展壮大安全问题对业务的迅速发展提出挑战。</p>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="page-about page-service">
    <div class="container ">
        <header class="title">
            <h2>安全专家服务体系</h2>
        </header>
        <div class="pic">
            <img src="~/Themes/PingAn/Content/img/s1.png" alt="安全专家服务体系" />
        </div>
        <div class="row four">
            <div class="col-sm-3">
                <div class="item">
                    <div class="thumb">
                        <i class="iconfont icon-duoweidu"></i>
                    </div>
                    <h3>全面多维度</h3>
                    <p>覆盖行业主要安全技术领域和企业安全诉求。</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="item">
                    <div class="thumb">
                        <i class="iconfont icon-diqiu"></i>
                    </div>
                    <h3>金融互联网经验</h3>
                    <p>
                        多年金融互联网业务的安全防护经验，涵盖业务场景安全、应用系统安全和风控等方面。
                    </p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="item">
                    <div class="thumb">
                        <i class="iconfont icon-APIwangguan"></i>
                    </div>
                    <h3>纵深覆盖</h3>
                    <p>安全服务同安全产品相结合，打造可性质化安全体验。从体系、应用、基础架构等全方位服务。</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="item">
                    <div class="thumb">
                        <i class="iconfont icon-dengpao"></i>
                    </div>
                    <h3>新技术安全探索</h3>
                    <p>在云安全、大数据安全、区块链技术安全、AI技术安全等方面持续探索、沉淀和服务。</p>
                </div>
            </div>
        </div>
        <header class="title">
            <h2>安全专家服务团队</h2>
        </header>
    </div>
    <div class="teams">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="item">
                        <h3>专家成员</h3>
                        <p>顶尖互联网企业、金融机构、咨询公司和国内外知名安全公司工作经验</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <h3>专业经验</h3>
                        <p>一行三会监管要求，“全牌照金融黄埔军校”的安全服务经验和沉淀</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <h3>先进理念</h3>
                        <p>贴近用户，以客户的价值和诉求为依归。量身打造，解决实际安全问题</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <h3>研究创新</h3>
                        <p>引领行业，在云、大数据、智能设备、AI等前沿领域的技术研究储备和服务</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="twoinfo">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="pic">
                        <img src="~/Themes/PingAn/Content/img/s3.png" alt="" />
                    </div>
                </div>
                <div class="col-sm-5">
                    <dl class="list">
                        <dd>
                            100+公司，200+项目，覆盖银行、保险、医疗、汽车、P2P等行业
                        </dd>
                        <dd>
                            年均发现1500+安全漏洞，规避损失近亿，避免千万数据泄露
                        </dd>
                        <dd>
                            年均发现1500+安全漏洞，规避损失近亿，避免千万数据泄露
                        </dd>
                        <dd>
                            GeekPwn破解大赛获得优胜奖，多年CTF攻防比赛经验
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <header class="title">
        <h2>安全专家服务内容</h2>
    </header>
    <div class="container tab-header">
        <ul>
            <li>
                <a href="#" class="active" data-id="tab1">
                    深度安全SDL服务
                </a>
            </li>
            <li>
                <a href="#" data-id="tab2">
                    威胁情报与应急响应服务
                </a>
            </li>
            <li>
                <a href="#" data-id="tab3">
                    威胁情报与应急响应服务
                </a>
            </li>
            <li>
                <a href="#" data-id="tab4">
                    安全风险评估服务
                </a>
            </li>
            <li>
                <a href="#" data-id="tab5">
                    信息安全培训服务
                </a>
            </li>
        </ul>
    </div>

    <div id="tab1" class="tabtwo active">
        <div class="top"></div>
        <div class="bot">
            <div class="container text-center">
                <img src="~/Themes/PingAn/Content/img/s5.png" alt="" />
            </div>
        </div>
    </div>

    <div id="tab2" class="tabtwo">

        <div class="bot">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="item2">
                            <div class="thumb">
                                <img src="~/Themes/PingAn/Content/img/s7.jpg" alt="多维度情报收集" />

                            </div>
                            <h3>多维度情报收集</h3>
                            <p>多个维度收集情报，包括但不限于产品安全漏洞、黑产情报灰色产业链薅羊毛、网络攻击，入侵等</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item2">
                            <div class="thumb">
                                <img src="~/Themes/PingAn/Content/img/s8.jpg" alt="闭环跟进全过程服务" />

                            </div>
                            <h3>闭环跟进全过程服务</h3>
                            <p>标题全面的安全检查评估，提出解决方案，推动问题解决，并进行复查和反馈。有效为企业解决安全风险，降低可能带来的经济损失</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item2">
                            <div class="thumb">
                                <img src="~/Themes/PingAn/Content/img/s9.jpg" alt="时效快" />

                            </div>
                            <h3>时效快</h3>
                            <p>熟悉业务场景、专项人力投入、全流程服务、提供完备解决方案和随时的沟通咨询</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tab3" class="tabtwo">
        <div class="top top1"></div>
        <div class="bot">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="item3">
                            <div class="thumb">
                                <img src="~/Themes/PingAn/Content/img/s11.png" />
                            </div>
                            <p>在云安全风险评估、体系建设和等级保护认证具有丰富的咨询实战经验</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="item3">
                            <div class="thumb">
                                <img src="~/Themes/PingAn/Content/img/s12.png" />
                            </div>
                            <p>参考国际先进管理标准和理念，权威安全认证咨询，涵盖等保3，等保4，COBIT、ISO27001、PCI-CSS，可信云等</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="item3">
                            <div class="thumb">
                                <img src="~/Themes/PingAn/Content/img/s13.png" />
                            </div>
                            <p>快速评估企业安全体系薄弱点，提出健全可落地方案，指导安全体系建设落地</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tab4" class="tabtwo">

        <div class="bot">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="item2 item4">
                            <div class="thumb">
                                <img src="~/Themes/PingAn/Content/img/s14.jpg" alt="多维度情报收集" />

                            </div>
                            <h3><i class="iconfont icon-zhuji"></i></h3>
                            <p>评估网络、主机、数据库、安全设备上存在的安全风险</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item2 item4">
                            <div class="thumb">
                                <img src="~/Themes/PingAn/Content/img/s15.jpg" alt="闭环跟进全过程服务" />

                            </div>
                            <h3><i class="iconfont icon-zuzhijigou"></i></h3>
                            <p>分析业务动作和组织管理方面存在的安全缺陷，评估重要业务应用系统自身存在的安全风险</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item2 item4">
                            <div class="thumb">
                                <img src="~/Themes/PingAn/Content/img/s16.jpg" alt="时效快" />

                            </div>
                            <h3><i class="iconfont icon-shenhe"></i></h3>
                            <p>评估业务安全风险承受能力，并给出风险等级，利用风险评估管理系统扩展评估过程和评估结果，为企业建立风控控制的方案和建议</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tab5" class="tabtwo">
        <div class="tab5">
            <div class="container">
                <div class="pic">
                    <img src="~/Themes/PingAn/Content/img/s17.png" />
                </div>
                <h3 class="stitle">覆盖全面的信息安全培训服务</h3>
                <p>提供有十几门安全课程，覆盖安全意识、安全流程、安全体系、合规安全、开发安全、活动安全、运营安全等所有方面，为企业管理者，业务方、IT方、运维等提供针对性安全培训服务</p>

            </div>
        </div>
    </div>
</div>


@section footer{

    <script>
        $(function () {
            $(".tab-header a").click(function (e) {
                e.preventDefault();
                $(".tab-header a.active").removeClass("active");
                $(this).addClass("active");
                var tab = $(this).attr("data-id");
                $(".tabtwo.active").removeClass("active");
                $("#" + tab).addClass("active");
            })
        })
    </script>
}