@{
    ViewBag.Title = "关于我们";
}
<div class="about-top">
    <section>
        <div class="container">
            <h1>About us</h1>
            <h2>关于我们</h2>
            <p>广东德思徕文化传播有限公司成立于2016年，是一家专门开发研究、制造销售益教玩具的企业。</p>
            <p>
                德思徕Geslle致力于开发各种丰富的创意和主题类益教玩具，并逐步融入智能、自动化等元素完善提升产品功能，为推动儿童的智力开发和科教成果作出贡献。德思徕Geslle本着为社会创造价值、为客户创造价值、为企业创造价值、为员工创造价值的核心理念，立足成为国内领先的益教玩具供应商。
            </p>
        </div>
    </section>
</div>
<div class="container about-bot">
    <div class="row">
        <div class="col-sm-6 text-right"><img src="~/Themes/Default/Content/img/deshi.png" /></div>
        <div class="col-sm-6"><img src="~/Themes/Default/Content/img/yijiao.png" /></div>
    </div>
</div>

<div class="container-fluid page-footer">
    <div class="row">
        <div class="col-sm-6">
            <img src="~/Themes/Default/Content/img/logo_bot.png" />
        </div>
        <div class="col-sm-6 text-right">
            广东德思徕文化传播有限公司<br />
            &copy; GESLLE  INC. All Rights Reserved.
        </div>
    </div>
</div>