@{
    ViewBag.Title = "名人系列";
}

<div class="page-celebs">
    
        <a href="@Url.Action("P1","Home")" class="item i1 bounceInLeft animated" title="卡卡沃·爱迪生-教堂婚礼">
          
        </a>
          
        <a href="@Url.Action("P1","Home")" class="item i2 bounceInRight animated" title="卡卡沃·爱迪生-教堂婚礼">
         
        </a>
           
        <a href="@Url.Action("P1","Home")" class="item i3 bounceInLeft animated" title="卡卡沃·爱迪生-教堂婚礼">
          
        </a>
           
</div>