@{
    ViewBag.Title = "卡卡沃·爱迪生-教堂婚礼";
}

<div class="page-product-detail p1">
    <div class="container content">
        <div class="row">
            <div class="col-xs-6">
                <img src="~/Themes/Default/Content/img/b1_1.png" class="img-responsive" />
            </div>
            <div class="col-xs-6">
                <div class="txt">
                    <img src="~/Themes/Default/Content/img/b1_4.png" class="img-responsive" />
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <img src="~/Themes/Default/Content/img/p1_3.png" class="img-responsive" />
                    </div>
                    <div class="col-xs-4">
                        <img src="~/Themes/Default/Content/img/p1_2.png" class="img-responsive" />
                    </div>
                    <div class="col-xs-4">
                        <img src="~/Themes/Default/Content/img/p1_1.png" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
        <img src="~/Themes/Default/Content/img/p1_4.png" alt="" class="p4" />
        <div class="mainpic">
            <img src="~/Themes/Default/Content/img/p1_5.png" alt="" class="img-responsive" />
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="item">
                    <img src="~/Themes/Default/Content/img/p1_11.png" alt="Kakawow's home" />
                    <h3>
                        Kakawow's home
                    </h3>
                    <p>Kakawow的家</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item">
                    <img src="~/Themes/Default/Content/img/p1_12.png" alt="Shop" />
                    <h3>
                        Shop
                    </h3>
                    <p>商铺</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item">
                    <img src="~/Themes/Default/Content/img/p1_13.png" alt="Town hall" />
                    <h3>
                        Town hall
                    </h3>
                    <p>市政厅</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item">
                    <img src="~/Themes/Default/Content/img/p1_14.png" alt="Stall" />
                    <h3>
                        Stall
                    </h3>
                    <p>小摊子</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item">
                    <img src="~/Themes/Default/Content/img/p1_15.png" alt="Scooter" />
                    <h3>
                        Scooter
                    </h3>
                    <p>滑板车</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item">
                    <img src="~/Themes/Default/Content/img/p1_16.png" alt="Square" />
                    <h3>
                        Kakawow's home
                    </h3>
                    <p>小广场</p>
                </div>
            </div>
        </div>
        <img src="~/Themes/Default/Content/img/p1_6.png" class="p6" />
        <img src="~/Themes/Default/Content/img/p1_7.png" class="p7" />
    </div>
</div>

<div class="container-fluid page-footer">
    <div class="row">
        <div class="col-sm-6">
            <img src="~/Themes/Default/Content/img/logo_bot.png" />
        </div>
        <div class="col-sm-6 text-right">
            广东德思徕文化传播有限公司<br />
            &copy; GESLLE  INC. All Rights Reserved.
        </div>
    </div>
</div>