<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <CompanyName>深圳清华大学研究院</CompanyName>
  <CompanyShortName>深圳清华大学研究院</CompanyShortName>
  <Address>深圳高新技术产业园深圳清华大学研究院A402室</Address>
  <ContactMan>张三</ContactMan>
  <Mobile>15361828193</Mobile>
  <Phone>0757—81230272</Phone>
  <Fax>0757—81230272</Fax>
  <Coordinate>113.007022,23.15476</Coordinate>
  <Email>Sales@Framemac.com</Email>
  <Email2></Email2>
  <ZipCode>518057</ZipCode>
  <Facebook>https://www.Facebook.com</Facebook>
  <LinkedIn>https://www.linkedin.com/</LinkedIn>
  <Youtube>https://www.youtube.com/</Youtube>
  <Oicq></Oicq>
  <OicqTwo></OicqTwo>
  <SinaWeibo>https://www.sina.com/</SinaWeibo>
  <WeiXing>孚瑞美微信公众号</WeiXing>
  <WeiXingCode>/uploads/images/qrcode.png</WeiXingCode>
  <WeiXing2>孚瑞美微信公众号</WeiXing2>
  <WeiXingCode2>/uploads/images/qrcode1.png</WeiXingCode2>
</Settings>