<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <CompanyName>Yun men tian cheng Co., Ltd.</CompanyName>
  <CompanyShortName>云门天成</CompanyShortName>
  <Address>广东省深圳市南山区西丽街道留仙洞村留仙文化园4栋301A</Address>
  <ContactMan>张三</ContactMan>
  <Mobile>15361828193</Mobile>
  <Phone>0757—81230272</Phone>
  <Fax>0757—81230272</Fax>
  <Coordinate>113.007022,23.15476</Coordinate>
  <Email>Sales@Framemac.com</Email>
  <Email2></Email2>
  <ZipCode>518057</ZipCode>
  <Facebook>https://www.Facebook.com</Facebook>
  <LinkedIn>https://www.linkedin.com/</LinkedIn>
  <Youtube>https://www.youtube.com/</Youtube>
  <Oicq></Oicq>
  <OicqTwo></OicqTwo>
  <SinaWeibo>https://www.sina.com/</SinaWeibo>
  <WeiXing>微信公众号</WeiXing>
  <WeiXingCode>/Uploads/Images/qrcode.png</WeiXingCode>
  <WeiXing2></WeiXing2>
  <WeiXingCode2></WeiXingCode2>
</Settings>