<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <CompanyName>深圳市黑鸟志有限公司</CompanyName>
  <CompanyShortName>尚橙 | SACHES</CompanyShortName>
  <Address>广东省东莞市塘厦镇莆心湖莆龙邨70号2栋7楼</Address>
  <ContactMan>刘梦霭</ContactMan>
  <Mobile>13688888888</Mobile>
  <Phone>(0769) 3362 8887‬</Phone>
  <Fax>(0769) 3362 8887‬</Fax>
  <Coordinate>120.649877,27.761329</Coordinate>
  <MailTo>sales@nobleorange.co</MailTo>
  <MailCC>twotong@gmail.com</MailCC>
  <ZipCode></ZipCode>
</Settings>