<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <CompanyName>平安金融安全研究院</CompanyName>
  <CompanyShortName>平安金融安全研究院</CompanyShortName>
  <Address>深圳市龙华新区观澜观光路1398号伟祥泰工业园1栋</Address>
  <ContactMan>Chen</ContactMan>
  <Mobile>13688888888</Mobile>
  <Phone>0755-61904310</Phone>
  <Fax>0755-29561180</Fax>
  <Coordinate>120.649877,27.761329</Coordinate>
  <MailTo>bowen@szibesky.com</MailTo>
  <MailCC>twotong@gmail.com</MailCC>
  <ZipCode></ZipCode>
</Settings>