<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <SiteName>云门天成</SiteName>
  <SiteDomainName>http://localhost</SiteDomainName>
  <DeveloperDomainName>http://heiniaozhi.cn</DeveloperDomainName>
  <Developer>黑鸟志</Developer>
  <WebNumber>粤ICP备7000681号</WebNumber>
  <BaiduSiteID>43021349b41411d3c211d616df2cb12b</BaiduSiteID>
  <GoogleAnalyticsID></GoogleAnalyticsID>
  <MailTo>13212847@qq.com</MailTo>
  <SiteTheme>Default</SiteTheme>
  <Version>SIGCMS MVC 1.50</Version>
  <Developer>深圳市黑鸟志有限公司</Developer>
  <EnableCaching>true</EnableCaching>
  <DefaultCacheDuration>600</DefaultCacheDuration>
  <CacheDuration>30</CacheDuration>
  <DatabaseBackupDir>/App_Data/Backup</DatabaseBackupDir>
  <IsClose>false</IsClose>
  <CloseInfo>系统正在升级中</CloseInfo>
  <LoginLogo>/Uploads/Images/logo-h.png</LoginLogo>
  <DashboardLogo>/Uploads/Images/logo-h-white.png</DashboardLogo>
  <Theme>Saches</Theme>
</Settings>