<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Token>123456</Token>
  <AppId>wx6f80333e13651c11</AppId>
  <AppSecret>0c11c6b500c02100d57bf7275cb10508</AppSecret>
  <EncodingAESKey>SIR6rnJjsSl17CwqJMLDKaqJtiXYWoacZNKCLp1lRyy</EncodingAESKey>
</Settings>


<!--<AppId>wx965f031c1746f165</AppId>
<AppSecret>391c8c697c1c52ff7aa29fb03f7851cd</AppSecret>-->