@model IEnumerable<ProductCategory>
<section class="container-fluid categories hidden-xs">
    @foreach (var category in Model)
    {
        <div class="categorybox">
            <a href="@Url.Action("index","products",new { cateId = category.Id})">
                <div class="icon">
                    <i class="iconfont @category.ImageUrl"></i>
                </div>
                <h2>@category.Title</h2>
            </a>
        </div>
    }

</section>