@model IEnumerable<QNZ.Data.AchievementCategory>
@{
    ViewData["Title"] = "科技成果";
}
<div class="banner banner-achievements">
    <h3>科技成果</h3>
    <h4>Scientific Achievement</h4>
    <hr />

</div>

<div class="page page-achievements clearfix">
    <div class="container">
        <div class="row no-gutters">
            @foreach (var item in Model)
            {
                <div class="col-6 col-md-4 col-lg-3 col-xl">
                    <a href="@Url.Action("List",new { cid = item.Id})" class="item">
                        <img src="@item.Thumbnail" alt="@item.Title" />
                        <h3>@item.Title</h3>
                    </a>
                </div>
            }

         
        </div>
    </div>
</div>