
.page-about {


    @include respond-above (md) {
        font-size: rem(24);
    }

    .s1 {
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        @include respond-above (md) {
            margin-bottom: 2rem;
            padding-bottom: 2rem;
        }

        figure {
            display: block;
            padding: 0;
            margin: 1rem auto 0;
            max-width: 627px;
            text-align: center;

            @include respond-above (md) {
                margin: 2rem auto 0;
            }

            figcaption {
                text-align: center;

                @include respond-above (md) {
                    font-size: rem(22);
                    text-align: center;
                }

                @include respond-above (lg) {
                    font-size: rem(34);
                    text-align: left;
                }
            }
        }

        .txt {
            @include respond-above (lg) {
                padding-right: 3rem;
            }
        }

        .txt1 {
            @include respond-above (lg) {
                padding-left: 3rem;
            }
        }

        p {
            text-align: justify;
        }
    }

    .s2 {
        background: #f7f8f8 url('../img/logo_bg.png') no-repeat left center;
        padding: 1rem 1rem;
        margin-bottom: 1rem;

        @include respond-above (md) {
            padding: 2rem 1rem;
            margin-bottom: 2rem;
        }

        .txt {
            max-width: 960px;
            margin: 0 auto;
            text-align: center;

            .item {
                margin-bottom: 1rem;
                margin-top: 1rem;
            }

            .num {
                font-size: 32px;
                font-weight: bold;

                @include respond-above (md) {
                    font-size: 56px;
                }
            }

            p {
                margin: 0;
                font-size: 14px;

                @include respond-above (md) {
                    font-size: 16px;
                }
            }
        }
    }

    .s3 {
        padding: 1rem 15px 1rem;

        @include respond-above (md) {
            padding: 4rem 15px 5rem;
        }

        .txt {
            text-align: justify;

            @include respond-above (md) {
                padding-right: 3rem;
            }
        }

        .pic {
            margin-top: 1rem;
            text-align: center;

            @include respond-above (md) {
                margin-top: 2rem;
            }
        }
    }

    .s4 {
        padding: 2rem 0;
        background-color: #f7f8f8;

        @include respond-above (md) {
            padding: 3rem 0;
        }
    }

    .s5 {
        padding: 2rem 0;

        @include respond-above (md) {
            padding: 5rem 0;
        }

        .box {
            margin-bottom: 3rem;
        }

        .item {
            text-align: center;
            margin-bottom: 2rem;

            @include respond-above (md) {
                margin-bottom: 1rem;
            }

            .icon {
                margin-bottom: .6rem;

                @include respond-above (md) {
                    margin-bottom: 2rem;
                }

                img {
                    width: 50%;

                    @include respond-above (md) {
                        width: auto;
                    }
                }
            }

            h4 {
                margin: 0;
            }

            p {
                margin: 0;
            }
        }

        .box2 {
            max-width: 960px;
            margin: 0 auto;

            h4 {
                text-align: left;

                &::before {
                    content: " ";
                    height: 5px;
                    width: 100px;
                    background-color: $color-primary;
                    display: block;
                }
            }

            ul {
                padding-left: 1.5rem;

                li {
                    text-align: left;
                }
            }
        }
    }

    .s6 {
        .item {
            max-width: 624px;
            border: 1px #eee solid;
            margin-bottom: rem(60);



            .pic {
                overflow: hidden;

                img {
                    display: block;
                }

                @include respond-above (lg) {
                    height: 246px;
                }
            }

            .title {
                background-color: $color-primary;
                color: #fff;
                padding: .5rem 1rem;
            }

            .des {


                @include respond-above (md) {
                    min-height: 250px;
                }
            }
        }
    }

    .s7 {
        .item {
            position: relative;

            .txt {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 10;
                width: 100%;
                height: 100%;

                p {
                    @include vertical-align();
                    text-align: center;
                    font-size: rem(34);
                    font-weight: bold;
                    margin: 0;
                }
            }
        }
    }
}
