
.banner-album {
    .album-title {
        text-align: center;
      

        @include respond-above(md) {
            padding-top: 6rem;
        }

        h1 {
            font-size: rem(30);
            font-family: '华文中宋',"Microsoft YaHei", "PingFangSC-Regular","Helvetica Neue", "Helvetica", "Arial", sans-serif;
            font-weight: normal;
            margin-bottom:0;
        }

        p {
            font-size: rem(14);
            color: #808080;
        }
    }
}
.page-about {
    padding-left: 65px;




    .s1 {
        width: 100%;
        height: 100vh;
        background: url(../img/about_bg.jpg) no-repeat center center;
        background-size: cover;

        .content {
            writing-mode: vertical-rl;
            margin: 0 auto;
            position: relative;
            @include vertical-align();

            img {
                position: absolute;
                margin-top: -100px;
                right: 0;
                z-index: 100;
            }

            .title {
                border-left: 1px #000 solid;
                border-right: 1px #000 solid;
                color: #000;
                font-size: 36px;
                display: inline-block;
                margin-right: .6rem;
                line-height: 2;
                font-family: '华文中宋',"Microsoft YaHei", "PingFangSC-Regular","Helvetica Neue", "Helvetica", "Arial", sans-serif;
            }

            p {
                font-size: rem(24);
                line-height: 2;
                font-family: '华文中宋',"Microsoft YaHei", "PingFangSC-Regular","Helvetica Neue", "Helvetica", "Arial", sans-serif;
            }
        }
    }

    .s2 {
        background: url(../img/about_01.png) no-repeat center top 2.5rem;
        background-size: auto 150px;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 65px;

        @include respond-above(xlg) {
            background-size: auto auto;
        }

        .title {
            margin: 0 auto;
            writing-mode: vertical-rl;
            font-size: rem(24);
            border-left: 1px #b3b3b3 solid;
            border-right: 1px #b3b3b3 solid;
            line-height: 2;
            margin-bottom: 3rem;
            font-family: '华文中宋',"Microsoft YaHei", "PingFangSC-Regular","Helvetica Neue", "Helvetica", "Arial", sans-serif;

            @include respond-above(md) {
            }

            @include respond-above(xlg) {
                font-size: rem(36);
            }
        }

        .albums {
            .item {
                margin-bottom: 2rem;
                display: block;

                .pic {
                    overflow: hidden;
                    margin-bottom: .7rem;

                    img {
                        display: block;
                        transition: all .2s;
                    }
                }

                h4 {
                    margin: 0;
                    font-weight: normal;

                    @include respond-above(md) {
                        font-size: rem(18);
                    }
                }

                &:hover {
                    .pic {
                        img {
                            transform: scale(1.1);
                        }
                    }

                    h4 {
                        color: $color-primary;
                    }
                }
            }
        }
    }
}

.page-album {
    padding-left: 130px;

    .photos {
        .item {
            .pic {
                overflow: hidden;
                margin-bottom: .7rem;

                img {
                    display: block;
                    transition: all .2s;
                }
            }

            figure {
                margin: 0 0 2rem;
                font-weight: normal;

                @include respond-above(md) {
                    font-size: rem(18);
                }
            }

            &:hover {
                .pic {
                    img {
                        transform: scale(1.1);
                    }
                }

                figure {
                    color: $color-primary;
                }
            }
        }
    }
}
