.page-achievements {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include respond-above(md) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    @include respond-above(lg) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .item {
        display: block;
        position: relative;
        overflow: hidden;

        img {
            display: block;
            transition: all .2s;
        }

        h3 {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: .5rem 1rem 1rem;
            z-index: 100;
            color: #fff;
            margin: 0;

            @include respond-above(sm) {
                font-size: rem(20);
                padding: .5rem 1.5rem 1rem;
            }

            @include respond-above(md) {
                font-size: rem(24);
             
            }

            @include respond-above(lg) {
                font-size: rem(28);
               
            }
        }

        &:hover {

            img {
                transform: scale(1.1);
            }
        }
    }
}
.page-achievements-list {
    .newslist {
        @include reset-list();

        li {
            border-bottom: 1px #999 solid;

            a {
                display: block;
                padding: 1rem 0;

                @include respond-above(sm) {
                    padding: 2rem 0;
                }

                h3 {
                    margin: 0;
                    font-size: 16px;

                    @include respond-above(sm) {
                        font-size: 1.17rem;
                    }
                }

                .pubdate {
                    text-align: right;
                    color: #999;
                    font-size: rem(14);

                    @include respond-above(sm) {
                        font-size: 1rem;
                    }
                }
            }

            .achibody {
                display: none;
                max-height: 1200px;
                overflow-y: auto;
            }
        }
    }
}