

.page-contact {
    padding-left: 65px;

    .s1 {
        padding-top: 2rem;
        padding-left: 65px;

        .title-section {
            margin-bottom: 0;
        }

        .outlets {
            margin-bottom:3rem;
            .outlet {
                border-bottom: 1px #eee solid;
                padding: 1rem 0;

                @include respond-above(sm) {
                    padding: 2rem 0;
                }

                @include respond-above(md) {
                    padding: 1rem 0;
                }

                @include respond-above(md) {
                    padding: 3rem 0;
                }

                img {
                    display: block;

                    &:hover {
                        transform: scale(1.1);
                        transition: all .2s;
                    }

                    @include respond-above(sm) {
                        width: 200px;
                    }

                    @include respond-above(md) {
                        width: 200px;
                    }

                    @include respond-above(lg) {
                        width: 280px;
                    }

                    @include respond-above(xlg) {
                        width: 320px;
                    }
                }
            }

            .txt {
                font-size: rem(14);

                @include respond-above(sm) {
                    font-size: 1rem;
                }

                @include respond-above(md) {
                    font-size: rem(18);
                }

                h3 {
                    font-size: rem(18);

                    @include respond-above(sm) {
                        font-size: rem(20);
                    }

                    @include respond-above(md) {
                        font-size: rem(22);
                    }

                    @include respond-above(lg) {
                        font-size: rem(24);
                    }
                }

                dl {
                    dd {
                        margin: 0;
                    }
                }
            }
        }

        .moreoutlet{
            h4{
                margin-bottom:0;
            }
        }
    }

    .s2 {
        height: 720px;


        img {
            max-width: none;
        }
    }
}
