

.page-contact {

    padding-top:80px;

    @include respond-above(md) {
        padding-left: 65px;
        padding-top:0;
    }

    .s1 {
        padding-top: 2rem;


        @include respond-above(md) {
            padding-left: 65px;
        }

        .title-section {
            margin-bottom: 0;

            h2 {
                font-family: '华文中宋',"Microsoft YaHei", "PingFangSC-Regular","Helvetica Neue", "Helvetica", "Arial", sans-serif;
                font-weight: normal;
            }
        }

        .outlets {
            margin-bottom: 3rem;

            .outlet {
                border-bottom: 1px #eee solid;
                padding: 1rem 0;

                @include respond-above(sm) {
                    padding: 2rem 0;
                }

                @include respond-above(md) {
                    padding: 1rem 0;
                }

                @include respond-above(md) {
                    padding: 3rem 0;
                }

                img {
                    display: block;
                    margin: 0 auto;
                    width: 80%;

                    @include respond-above(sm) {
                        width: auto;
                    }

                    &:hover {
                        transform: scale(1.1);
                        transition: all .2s;
                    }

                    @include respond-above(sm) {
                        width: 200px;
                    }

                    @include respond-above(md) {
                        width: 200px;
                    }

                    @include respond-above(lg) {
                        width: 280px;
                    }

                    @include respond-above(xlg) {
                        width: 320px;
                    }
                }
            }

            .txt {
                font-size: rem(14);
                text-align: center;

                @include respond-above(sm) {
                    font-size: 1rem;
                    text-align: left;
                }

                @include respond-above(md) {
                    font-size: rem(18);
                }


                h3 {
                    font-size: rem(18);
                    font-family: '华文中宋',"Microsoft YaHei", "PingFangSC-Regular","Helvetica Neue", "Helvetica", "Arial", sans-serif;
                    font-weight: normal;

                    @include respond-above(sm) {
                        font-size: rem(20);
                    }

                    @include respond-above(md) {
                        font-size: rem(22);
                    }

                    @include respond-above(lg) {
                        font-size: rem(24);
                    }
                }

                dl {
                    dd {
                        margin: 0;
                        color: #999;
                    }
                }
            }
        }

        .moreoutlet {
            h4 {
                margin-bottom: 0;
                color: #999;
            }
        }
    }

    .s2 {
        height: 360px;
        margin-bottom: 2rem;

        @include respond-above (lg) {
            height: 580px;
            margin-bottom: 3rem;
        }

        @include respond-above (xlg) {
            height: 720px;
            margin-bottom: 4rem;
        }



        .amap-icon img {
            max-width: none;
            margin-top: -18px;
            margin-left: -20px;
            width: 60px;

            @include respond-above (lg) {
                width: 120px;
                margin-top: -75px;
                margin-left: -52px;
            }

            @include respond-above (xlg) {
                width: 139px;
                margin-top: -90px;
                margin-left: -63px;
            }
        }
    }
}
