
.site-footer {
    background: $color-secondary;
    padding-top: 2rem;
    overflow: hidden;
    color: #fff;

    @include respond-above(sm) {
        padding-top: 2rem;
    }

    @include respond-above(md) {
        padding-top: 2.5rem;
    }

    @include respond-above(lg) {
        padding-top: 3rem;
    }

    .logo_name {
        margin-bottom: 1rem;

        @include respond-above(sm) {
            margin-bottom: 2rem;
        }

        @include respond-above(md) {
            margin-bottom: 3rem;
        }

        @include respond-above(lg) {
            margin-bottom: rem(54);
        }

        .logo {
            width: rem(210);
            margin-right: rem(200);
            display: block;
        }

        .company_name {
            font-size: rem(28);
            margin: 0;
        }
    }

    .botnav {
        margin-bottom: 2rem;

        .node {
            font-size: rem(18);
            text-decoration: none;
            margin-bottom: .8rem;
            display: block;
        }

        .bot_subnav {
            @include reset-list;

            li {
                margin-bottom: .6rem;
                font-size: rem(14);
            }
        }
    }

    a {
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }

    .pic {
        width: 210px;
    }

    .sejiao {
        margin-bottom: 2rem;

        a {
            display: inline-block;
            color: #fff;
            border-radius: 6px;
            background-color: rgb(0, 120, 183);
            width: 52px;
            height: 52px;
            text-align: center;
            line-height: 52px;

            .iconfont {
                font-size: rem(22);
            }

            &.play {
                background-color: #cd2d25;
            }

            &.facebook {
                background-color: #3c5a99;
            }

            &.sina {
                background-color: #f2993d;
            }
        }
    }

    .contact {
        @include reset-list;

        li {
            font-size: 1rem;
            margin-bottom: .35rem;

            span {
                margin-left: 1rem;
            }
        }
    }

    .contact_qrcode {
        margin-bottom: 1.5rem;
    }

    figure {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .copyright {
        color: #fff;
        padding: 1rem 0;
        text-align: center;
        font-size: rem(14);
        border-top: #959595 1px solid;
    }

    .totop {
        display: block;
        width: 45px;
        height: 45px;
        line-height: 43px;
        text-align: center;
        transition: all .2s;
        background-color: $color-primary;
        color: #fff;

        @include respond-above(md) {
            width: 60px;
            height: 60px;
            line-height: 56px;
        }

        .iconfont {
            font-size: 22px;

            @include respond-above(md) {
                font-size: 28px;
            }
        }


        @include hover {
            transform: scale(1.1);
            text-decoration: none;
        }
    }
}

.qqservice {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2000;    
}

