

.site-footer {
    background: #fafafa;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 14px;
    color: #999;

    @include respond-above(md) {
        padding-left: 130px;
    }

    a {
        display: inline-block;
        position: relative;
    }


    .iconsocai {
        text-align: center;
        border-bottom: 1px #eee solid;
        padding-bottom:.6rem;

        @include respond-above(md) {
            display: none;
        }


        a {
            color: #b3b3b3;
            width: 26px;
            display: inline-block;

            .iconfont {
                font-size: rem(20);
            }

            &.wechat {
                position: relative;

                img {
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: -120px;
                    max-width: none;
                    z-index: 100;
                    margin-left: -53px;
                    opacity: 0;
                    transition: all .2s;
                    visibility: collapse;
                }

                &:hover {
                    img {
                        opacity: 1;
                        top: -110px;
                        visibility: visible;
                    }
                }
            }
        }
    }

    .botnav {
        display: none;


        @include respond-above(md) {
            display: block;
            writing-mode: vertical-rl;
            @include reset-list();
        }

        li {
            border-left: 1px #d9d9d9 solid;
            border-right: 1px #d9d9d9 solid;
            margin-left: 25px;

            @include respond-above(lg) {
                margin-left: 42px;
            }
        }
    }

    p {
        font-size: rem(12);
        text-align: center;

        @include respond-above(md) {
            font-size: rem(14);
            text-align: left;
        }

        @include respond-above(lg) {
            font-size: rem(16);
        }
    }
}

.qqservice {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2000;
}

.totop {
    display: block;
    width: 45px;
    height: 45px;
    line-height: 43px;
    border: 1px solid #000;
    text-align: center;
    transition: all .2s;
    background-color: #fff;
    color: #000;

    @include respond-above(md) {
        width: 60px;
        height: 60px;
        line-height: 56px;
        border: 2px solid #000;
    }

    .iconfont {
        font-size: 22px;

        @include respond-above(md) {
            font-size: 28px;
        }
    }


    @include hover {
        border-color: $color-primary;
        color: $color-primary;
    }

    @include respond-above(sm) {
        bottom: 2rem;
        right: 2rem;
    }
}
