.progress {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 0;
    width: 45px;
    background-color: $color-primary;
    z-index: 600;
    transition: all .2s;

    @include respond-above(sm) {
        width: 55px;
    }

    @include respond-above(md) {
        width: 65px;
    }
}
.overly {
    background-color: #fff;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    left: 0;
    top: 0;

    .content {
        @include vertical-align();
        margin: 0 auto;
        writing-mode: vertical-rl;
        height: 300px;
        position: relative;

        img.logo1 {
            margin-top: -2rem;
            opacity: 0;
            transition: all 1s linear;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
            max-width: none;
            width: 76px;

            @include respond-above(md) {
                width: 98px;
                margin-top: -4rem;
            }

            &.show {
                opacity: 1;
                right: -8rem;
            }
        }

        #shishow {
            font-size: rem(20);
            font-family: '华文中宋',"Microsoft YaHei", "PingFangSC-Regular","Helvetica Neue", "Helvetica", "Arial", sans-serif;
            opacity: 0;
            transition: all 1s linear;
            margin-right: 4rem;
            position: absolute;
            right: 0;
            z-index: 10;



            &.show {
                opacity: 1;
                margin-right: -2rem;
            }
        }

        .imgfooter {
            opacity: 0;
            transition: all 1s linear;
            display: block;
            position: absolute;
            bottom: 3rem;
            right: 180px;
            z-index: 10;
            max-width: none;

            &.show {
                opacity: 1;
                right: 80px;
            }
        }
    }
}
.site-header {
    position: fixed;
    z-index: 1000;
    transition: all .5s;
    width: 100%;
    height: 80px;
    left: 0;
    top: -80px;
    background-color: #fff;
    padding-top: 1rem;
    padding-left: 1rem;

    @include respond-above(md) {
        padding-left: 0;
        padding-bottom: 40px;
        padding-top: 40px;
        width: 130px;
        height: 92vh;
        left: -130px;
        top: 4vh;
        background: url(../img/nav_03.png) no-repeat bottom center;
        background-size: 100% auto;
    }

    .topcol {


        @include respond-above(md) {
            height: 50px;
            background: url(../img/nav_02.png) no-repeat top center;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 100;
            width: 100%;
            background-size: 100% auto;
        }
    }



    .wrap {
        height: 100%;
        position: relative;

        @include respond-above(md) {
            padding-top: 1.3rem;
            background: url(../img/nav_04.png) repeat-y top center;
            background-size: 100% auto;
            text-align: center;
        }

        .logo {
            display: block;


            @include respond-above(md) {
                margin-bottom: 10vh;
            }

            @include respond-above(lg) {
                margin-bottom: 12vh;
            }

            img {
                width: 160px;

                @include respond-above(md) {
                    width: 50px;
                }

                @include respond-above(lg) {
                    width: 80px;
                }
            }
        }

        .iconsocai {
            display: none;

            @include respond-above(md) {
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                text-align: center;
                width: 100%;
            }


            a {
                color: #b3b3b3;
                width: 26px;
                display: inline-block;

                .iconfont {
                    font-size: rem(20);
                }

                &.wechat {
                    position: relative;

                    img {
                        display: block;
                        position: absolute;
                        left: 50%;
                        top: -120px;
                        max-width: none;
                        z-index: 100;
                        margin-left: -53px;
                        opacity: 0;
                        transition: all .2s;
                        visibility: collapse;
                    }

                    &:hover {
                        img {
                            opacity: 1;
                            top: -110px;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }



    .menu-button {
        position: absolute;
        right: 1rem;
        top: .6rem;
        z-index: 10;

        @include respond-above(md) {
            position: relative;
            right: auto;
            top: auto;
        }
    }


    .menu-toggle {
        width: 28px;
        cursor: pointer;
        margin: 0 auto;

        .one,
        .two,
        .three {
            width: 100%;
            height: 2px;
            background-color: #333;
            margin: 6px auto;
            backface-visibility: hidden;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }

        &.on {

            .one {
                transform: rotate(45deg) translate(3px, 5px);
            }

            .two {
                opacity: 0;
            }

            .three {
                transform: rotate(-45deg) translate(6px, -8px);
            }
        }
    }
}


.mainav-container {
    position: fixed;
    z-index: 510;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    transition: all ease-in-out .23s;
    left: 0;
    top: -100vh;
    padding-bottom: 4rem;

    @include respond-above(md) {
        left: -100vw;
        background-color: #f2f2f2;
        padding-bottom: 0;
        top: 0;
    }

    &.open {
        left: 0;
        top: 0;
    }




    .row {
        height: 100%;
        overflow-y: auto;

        .col-md {
            height: 100%;
        }
    }

    .navbg-container {
        height: 100%;
    }

    .navbg-grid {
        @media only screen and (max-width: 991px) {
            display: none;
        }
    }


    .navbg {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 100;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transition: all .25s;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.active {
            opacity: 1;
        }
    }


    .iconsocai {
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: center;
        width: 100%;
        z-index: 12;
        background-color: #fff;
        padding: 1rem 0;

        @include respond-above(md) {
            display: none;
        }


        a {
            color: #b3b3b3;
            width: 26px;
            display: inline-block;

            .iconfont {
                font-size: rem(20);
            }

            &.wechat {
                position: relative;

                img {
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: -120px;
                    max-width: none;
                    z-index: 100;
                    margin-left: -53px;
                    opacity: 0;
                    transition: all .2s;
                    visibility: collapse;
                }

                &:hover {
                    img {
                        opacity: 1;
                        top: -110px;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

.mainav {
    @include reset-list();
    margin-left: 35%;
    padding-top: 110px;
    width: 130px;

    @include respond-above (md) {
        @include vertical-align();
        padding-top: 0;
        width: auto;
    }


    li {
        text-align: center;

        @include respond-above (md) {
        }



        a {
            color: #666;
            display: block;
            padding: .5rem 0;
            text-align: left;
            font-size: rem(22);
            font-family: '华文中宋',"Microsoft YaHei", "PingFangSC-Regular","Helvetica Neue", "Helvetica", "Arial", sans-serif;

            @include respond-above (md) {
                padding: .8rem 0;
            }

            @include respond-above (lg) {
                font-size: rem(24);
                padding: 1.2rem 0 .3rem;
            }

            small {
                display: block;
                font-family: "Microsoft YaHei", "PingFangSC-Regular","Helvetica Neue", "Helvetica", "Arial", sans-serif;
                font-size: rem(12);

                @include respond-above (lg) {
                    font-size: rem(14);
                }
            }

            &:hover {
                color: $color-primary;
                text-decoration: none;
            }

            &.active {
                color: $color-primary;
                position: relative;
            }
        }


        .subnav {
            display: none;
            text-align: left;

            @include respond-above (md) {
                margin-left: -1rem;
            }

            dl {
            }

            dd {
                padding: 0;
                margin: 0;

                @include respond-above (md) {
                    display: inline-block;
                    border-right: 1px #ddd solid;
                }

                a {
                    display: block;
                    padding: .5rem .5rem;
                    font-size: rem(18);
                    border-bottom: 1px #ccc solid;

                    @include respond-above (md) {
                        padding: 0 1rem;
                        border-bottom: none;
                    }
                }
            }
        }
    }
}





.menu-icon {
    box-sizing: border-box;
    padding: 1.0625rem 0 0;
    height: 2rem;
    width: 1.89rem;
    position: fixed;
    z-index: 9000;
    top: 2rem;
    cursor: pointer;
    right: rem(30);

    @include respond-above (md) {
        right: rem(120);
    }

    @include respond-above (lg) {
        right: rem(200);
    }

    @include respond-above (xlg) {
        right: rem(310);
    }
}

.menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: $color-secondary;
    margin-bottom: 4px;
    transition: transform .2s ease, background-color .5s ease;
}

.menu-icon__line-left {
    width: 30px;
}

.menu-icon__line-right {
    width: 30px;
    float: right;
}

.nav {
    visibility: hidden;
    position: fixed;
    z-index: 7001;
}

.nav:before,
.nav:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transform: translateX(100%) translateY(0);
    right: 0;
}

.nav:after {
    transition-delay: 0s;
}

.nav:before {
    transition-delay: .1s;
}

.nav__content {
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    width: 0;
    cursor: pointer;
    background: $color-primary;
    height: 100%;
    background-image: -moz-linear-gradient( 90deg, rgb(37,21,66) 0%, rgb(70,33,115) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(37,21,66) 0%, rgb(70,33,115) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(37,21,66) 0%, rgb(70,33,115) 100%);
    box-shadow: 0px 4px 50px 0px rgba(53, 24, 91, 0.4);
    right: 0;
    z-index: 56;
    padding: 7rem 3rem;
    transition: width .25s;



    @include respond-above (lg) {
        padding: 8rem 5rem 0;
        font-size: rem(18);
    }
}


.nav__list {
    @include reset-list;
}

.nav__list-item {
    position: relative;
    transition-delay: 0.8s;
    opacity: 0;
    transform: translate(0%, 100%);
    transition: opacity .2s ease, transform .3s ease;
    border-bottom: 1px #624a81 solid;
    padding: 2rem 0;

    &:first-child {
        border-top: 1px #624a81 solid;
    }

    .langs {
        display: none;
    }
}



.nav__list-item a {
    color: $color-secondary;
    letter-spacing: .3rem;
}

.nav__list-item a:hover {
    color: #FFF;
}

@media screen and (orientation: landscape) {
    .nav__list-item {
        &.active {
            a {
                color: #fff;
            }
        }
    }
}

@media screen and (orientation: landscape) {
    .nav__list-item:hover:before {
        height: 6.2rem;
    }
}

body.nav-active .menu-icon__line {
    background-color: $color-secondary;
    transform: translateX(0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-mid {
    opacity: 0;
}

body.nav-active .menu-icon__line-left {
    transform: translateY(6px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
    transform: translateY(-6px) rotate(-45deg);
}

body.nav-active .nav {
    visibility: visible;

    .nav__content {
        width: 280px;

        @include respond-above (lg) {
            width: 450px;
        }

        @include respond-above (xlg) {
            width: 670px;
        }
    }
}

body.nav-active .nav:before,
body.nav-active .nav:after {
    transform: translateX(0%) translateY(0%);
}

body.nav-active .nav:after {
    transition-delay: .1s;
}

body.nav-active .nav:before {
    transition-delay: 0s;
}

body.nav-active .nav__list-item {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity .3s ease, transform .3s ease, color .3s ease;
}

body.nav-active .nav__list-item:nth-child(0) {
    transition-delay: 0.5s;
}

body.nav-active .nav__list-item:nth-child(1) {
    transition-delay: 0.6s;
}

body.nav-active .nav__list-item:nth-child(2) {
    transition-delay: 0.7s;
}

body.nav-active .nav__list-item:nth-child(3) {
    transition-delay: 0.8s;
}

body.nav-active .nav__list-item:nth-child(4) {
    transition-delay: 0.9s;
}

body.nav-active .nav__list-item:nth-child(5) {
    transition-delay: 1s;
}
