.progress {
    position: fixed;
    left: 0;
    top: 0;
    height:100vh;
    width:65px;
    background-color:$color-primary;
    z-index:300;
}
.site-header {
    position: fixed;
    left: 0;
    top: 4vh;
    z-index: 1000;
    width: 130px;
    height: 92vh;
    background: url(../img/nav_03.png) no-repeat bottom center;
    padding-bottom: 40px;
    padding-top: 40px;
    background-size: 100% auto;


    .topcol {
        height: 50px;
        background: url(../img/nav_02.png) no-repeat top center;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        width: 100%;
        background-size: 100% auto;
    }



    .wrap {
        text-align: center;
        height: 100%;
        background: url(../img/nav_04.png) repeat-y top center;
        background-size: 100% auto;
        padding-top: 1.3rem;
        position: relative;

        .logo {
            display: block;
            margin-bottom: 12vh;

            img {
                width: 80px;
            }
        }

        .iconsocai {
            position: absolute;
            left: 0;
            bottom: 0;
            text-align: center;
            width: 100%;

            a {
                color: #b3b3b3;
                width: 26px;
                display: inline-block;

                .iconfont {
                    font-size: rem(20);
                }

                &.wechat {
                    position: relative;

                    img {
                        display: block;
                        position: absolute;
                        left: 50%;
                        top: -120px;
                        max-width: none;
                        z-index: 100;
                        margin-left: -53px;
                        opacity: 0;
                        transition: all .2s;
                    }

                    &:hover {
                        img {
                            opacity: 1;
                            top: -110px;
                        }
                    }
                }
            }
        }
    }



    .menu-button {
    }


    .menu-toggle {
        width: 28px;
        cursor: pointer;
        margin: 0 auto;

        .one,
        .two,
        .three {
            width: 100%;
            height: 2px;
            background-color: #333;
            margin: 6px auto;
            backface-visibility: hidden;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }

        &.on {

            .one {
                transform: rotate(45deg) translate(3px, 5px);
            }

            .two {
                opacity: 0;
            }

            .three {
                transform: rotate(-45deg) translate(6px, -8px);
            }
        }
    }




    .mainav {
        @include reset-list();
        text-align: right;
        display: none;
        position: absolute;
        left: 0;
        top: 45px;
        width: 100%;
        background-color: #fff;
        padding-top: 1rem;



        li {
            text-align: center;

            @include respond-above (md) {
                display: inline-block;
                margin: 0 1rem;
            }

            @include respond-above (lg) {
                margin: 0;
                margin-left: 2rem;
            }

            a {
                color: #666;
                display: block;
                padding: .8rem 0;
                border-bottom: 1px #eee solid;

                @include respond-above (md) {
                    font-size: rem(24);
                    padding: 1.2rem 0 .3rem;
                    border-bottom: none;
                }

                @include respond-above (lg) {
                    font-size: rem(28);
                    padding: .3rem 0;
                }

                &:hover {
                    color: $color-primary;
                    border-bottom-color: $color-primary;
                    text-decoration: none;

                    @include respond-above (lg) {
                        text-decoration: underline;
                    }
                }
            }

            &.active {
                a {
                    color: $color-primary;
                    position: relative;

                    &::after {
                        content: " ";
                        display: block;
                        width: 0;
                        height: 0;
                        border: 10px solid $color-primary;
                        border-left-color: transparent;
                        border-right-color: transparent;
                        border-top-color: transparent;
                        position: absolute;
                        left: 50%;
                        margin-left: -10px;
                        bottom: 0;
                        z-index: 100;
                    }
                }
            }

            .subnav {
                display: none;
            }
        }
    }

    &.home_header {
        background-color: transparent;

        .topcol {
            a {
                color: #fff;
            }
        }

        .mainav {
            li {
                a {
                    color: #fff;

                    &:hover {
                    }
                }
            }
        }
    }
}






.menu-icon {
    box-sizing: border-box;
    padding: 1.0625rem 0 0;
    height: 2rem;
    width: 1.89rem;
    position: fixed;
    z-index: 9000;
    top: 2rem;
    cursor: pointer;
    right: rem(30);

    @include respond-above (md) {
        right: rem(120);
    }

    @include respond-above (lg) {
        right: rem(200);
    }

    @include respond-above (xlg) {
        right: rem(310);
    }
}

.menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: $color-secondary;
    margin-bottom: 4px;
    transition: transform .2s ease, background-color .5s ease;
}

.menu-icon__line-left {
    width: 30px;
}

.menu-icon__line-right {
    width: 30px;
    float: right;
}

.nav {
    visibility: hidden;
    position: fixed;
    z-index: 7001;
}

.nav:before,
.nav:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transform: translateX(100%) translateY(0);
    right: 0;
}

.nav:after {
    transition-delay: 0s;
}

.nav:before {
    transition-delay: .1s;
}

.nav__content {
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    width: 0;
    cursor: pointer;
    background: $color-primary;
    height: 100%;
    background-image: -moz-linear-gradient( 90deg, rgb(37,21,66) 0%, rgb(70,33,115) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(37,21,66) 0%, rgb(70,33,115) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(37,21,66) 0%, rgb(70,33,115) 100%);
    box-shadow: 0px 4px 50px 0px rgba(53, 24, 91, 0.4);
    right: 0;
    z-index: 56;
    padding: 7rem 3rem;
    transition: width .25s;



    @include respond-above (lg) {
        padding: 8rem 5rem 0;
        font-size: rem(18);
    }
}


.nav__list {
    @include reset-list;
}

.nav__list-item {
    position: relative;
    transition-delay: 0.8s;
    opacity: 0;
    transform: translate(0%, 100%);
    transition: opacity .2s ease, transform .3s ease;
    border-bottom: 1px #624a81 solid;
    padding: 2rem 0;

    &:first-child {
        border-top: 1px #624a81 solid;
    }

    .langs {
        display: none;
    }
}



.nav__list-item a {
    color: $color-secondary;
    letter-spacing: .3rem;
}

.nav__list-item a:hover {
    color: #FFF;
}

@media screen and (orientation: landscape) {
    .nav__list-item {
        &.active {
            a {
                color: #fff;
            }
        }
    }
}

@media screen and (orientation: landscape) {
    .nav__list-item:hover:before {
        height: 6.2rem;
    }
}

body.nav-active .menu-icon__line {
    background-color: $color-secondary;
    transform: translateX(0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-mid {
    opacity: 0;
}

body.nav-active .menu-icon__line-left {
    transform: translateY(6px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
    transform: translateY(-6px) rotate(-45deg);
}

body.nav-active .nav {
    visibility: visible;

    .nav__content {
        width: 280px;

        @include respond-above (lg) {
            width: 450px;
        }

        @include respond-above (xlg) {
            width: 670px;
        }
    }
}

body.nav-active .nav:before,
body.nav-active .nav:after {
    transform: translateX(0%) translateY(0%);
}

body.nav-active .nav:after {
    transition-delay: .1s;
}

body.nav-active .nav:before {
    transition-delay: 0s;
}

body.nav-active .nav__list-item {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity .3s ease, transform .3s ease, color .3s ease;
}

body.nav-active .nav__list-item:nth-child(0) {
    transition-delay: 0.5s;
}

body.nav-active .nav__list-item:nth-child(1) {
    transition-delay: 0.6s;
}

body.nav-active .nav__list-item:nth-child(2) {
    transition-delay: 0.7s;
}

body.nav-active .nav__list-item:nth-child(3) {
    transition-delay: 0.8s;
}

body.nav-active .nav__list-item:nth-child(4) {
    transition-delay: 0.9s;
}

body.nav-active .nav__list-item:nth-child(5) {
    transition-delay: 1s;
}
