.swiper-container {
    .swiper-slide {
        height: 100vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .swiper-pagination-bullet {
        height: 2px;
        width: 35px;
        border-radius: 0;
        background-color: #fff;
        margin: 0 14px;

        @include respond-above(md) {
            width: 74px;
        }
    }



    .swiper-pagination-bullet-active {
        background-color: $color-primary;
    }
}
.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 90px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 14px;
}
.page-home {
    .s1 {
      
    }

    
}
