

.page-news {
    padding-left: 65px;

    .news-header {
        margin-bottom: 3rem;
        text-align: center;

        a {
            display: inline-block;
            padding: 0 2rem;
            position: relative;
            font-family: '华文中宋',"Microsoft YaHei", "PingFangSC-Regular","Helvetica Neue", "Helvetica", "Arial", sans-serif;

            &::before {
                content: " ";
                display: block;
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 0;
                background-color: $color-primary;
                height: 2px;
                margin-left: 0;
                transition: all .2s;
            }

            &::after {
                content: " ";
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                width: 1px;
                background-color: #999;
                height: 100%;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            &:hover {
                &::before {
                    content: " ";
                    display: block;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    width: 50px;
                    background-color: $color-primary;
                    height: 2px;
                    margin-left: -25px;
                }
            }
        }
    }

    .newslist {
        padding-left: 65px;

        .item {
            display: block;
            margin-bottom: 2rem;

            .pic {
                img {
                    max-width: none;
                    width: 100%;
                }
            }

            .txt {
                padding: 1rem rem(25);

                h3 {
                    margin: 0;
                    font-weight: normal;


                    @include respond-above(sm) {
                        font-size: rem(18);
                    }
                }

                .pubdate {
                    font-size: rem(14);
                    color: #ccc;
                    border-bottom: 1px #eee solid;
                    padding-bottom: .6rem;
                }

                .summary {
                    font-size: rem(14);
                    color: #999;
                    padding-top: .5rem;
                }
            }


            &:hover {
                text-decoration: none;
                background-color: #f7f7f7;
            }
        }

        .more {
            text-align: right;
            padding: 2rem 0;

            a {
                display: inline-block;
                font-size: 22px;
            }
        }
    }

    .years {
        padding: 2rem 0;

        a {
            display: inline-block;
            background: #F7F8F8;
            width: 143px;
            height: 57px;
            margin-right: 1rem;
            margin-bottom: 1rem;
            text-align: center;
            line-height: 57px;
            font-size: rem(20);
        }
    }
}
.page-news-detail {

    .article {
        text-align: justify;
        margin-bottom: 2rem;

        @include respond-above(sm) {
            margin-bottom: 3rem;
        }

        @include respond-above(md) {
            margin-bottom:4rem;
        }

        @include respond-above(lg) {
            margin-bottom: 5rem;
        }

        .title-article {
            margin-bottom: 1rem;

            @include respond-above(sm) {
                margin-bottom: 2rem;
            }

            @include respond-above(md) {
                margin-bottom: 3rem;
            }

            h2 {
                font-size: 24px;
                color: $color-primary;
                margin-top: 0;

                @include respond-above(sm) {
                    font-size: 30px;
                }

                @include respond-above(md) {
                    line-height: 1;
                    font-size: 36px;
                }
            }
        }

        .note {
            font-size: rem(14);
            border-bottom: #eee solid 1px;
            padding-bottom: 2rem;
            margin-bottom: 2rem;

            ul {
                @include reset-list;
            }

            li {
                display: inline-block;
                margin-right: 2rem;
                color: #999;
            }
        }
    }

    .box-arrow {
        background-color: #f7f7f7;
        padding: 1rem 1.5rem;
        border-top: 3px $color-primary solid;
        margin-bottom: 2rem;

        @include respond-above(md) {
            margin-left: 1.5rem;
            margin-bottom: 3rem;
        }

        h3 {
            font-size: rem(20);
            position: relative;
            padding-bottom: 1.3rem;
            font-weight: bold;

            &::before {
                display: block;
                content: " ";
                position: absolute;
                width: 20px;
                height: 2px;
                bottom: 0;
                left: 0;
                z-index: 100;
                background-color: $color-primary;
            }
        }

        .more {
            color: $color-primary;
            transition: all .25s;
            display: block;

            &:hover {
                margin-right: 3rem;
            }
        }
    }
}
