

.page-news {
    padding-top: 0;
    background-color: #f7f7f7;

    @include respond-above(md) {
        padding-left: 65px;
    }

    .news-header {
        text-align: center;
        padding-top: 1.5rem;
        padding-bottom: .5rem;

        @include respond-above(md) {
            padding-left: 65px;
          
        }

        a {
            display: inline-block;
            padding: 0 2rem;
            position: relative;
            font-family: '华文中宋',"Microsoft YaHei", "PingFangSC-Regular","Helvetica Neue", "Helvetica", "Arial", sans-serif;

            @include respond-above(sm) {
                font-size: rem(18);
            }

            &::before {
                content: " ";
                display: block;
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 0;
                background-color: $color-primary;
                height: 2px;
                margin-left: 0;
                transition: all .2s;
            }

            &::after {
                content: " ";
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                width: 1px;
                background-color: #999;
                height: 100%;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            &:hover {
                &::before {
                    content: " ";
                    display: block;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    width: 50px;
                    background-color: $color-primary;
                    height: 2px;
                    margin-left: -25px;
                }
            }
        }
    }

    .newslist {
        background-color: #f7f7f7;
        padding-top: 1rem;

        @include respond-above(md) {
            padding-left: 65px;
            
        }

        .item {
            display: block;
            margin-bottom: 2rem;
            background-color: #fff;

            @include respond-above(sm) {
                margin-left: -10px;
                margin-right: -10px;
            }

         

            .pic {
                overflow:hidden;
                img {
                    display:block;
                    max-width: none;
                    transition:all .2s;
                    width: 100%;
                }
            }

            .txt {
                padding: 1rem rem(25);

                h3 {
                    margin: 0;
                    font-weight: normal;


                    @include respond-above(sm) {
                        font-size: rem(18);
                    }
                }

                .pubdate {
                    font-size: rem(14);
                    color: #ccc;
                    border-bottom: 1px #eee solid;
                    padding-bottom: .6rem;
                }

                .summary {
                    font-size: rem(14);
                    color: #999;
                    padding-top: .5rem;
                }
            }


            &:hover {
                text-decoration: none;
               .pic{
                   img{
                       transform:scale(1.1);
                   }
               }
            }
        }

        .more {
            text-align: right;
            padding: 2rem 0;

            a {
                display: inline-block;
                font-size: 22px;
            }
        }
    }

    .years {
        padding: 2rem 0;

        a {
            display: inline-block;
            background: #F7F8F8;
            width: 143px;
            height: 57px;
            margin-right: 1rem;
            margin-bottom: 1rem;
            text-align: center;
            line-height: 57px;
            font-size: rem(20);
        }
    }
}
.page-news-detail {


    @include respond-above(md) {
        padding: 0 0 0 65px;
    }

    .detail-header {
        height: 400px;
        padding-top: 11rem;
        background-color: #999;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        @include respond-above(md) {
            padding-left: 65px;
        }

        @include respond-above(lg) {
            padding-top: 15rem;
            height: 580px;
        }

        @include respond-above(xlg) {
            padding-top: 19rem;
            height: 720px;
        }

        .title {
            text-align: center;
            color: #fff;

            h1 {
                font-size: rem(22);
                font-family: '华文中宋',"Microsoft YaHei", "PingFangSC-Regular","Helvetica Neue", "Helvetica", "Arial", sans-serif;
                font-weight: normal;
                margin-bottom: 0;

                @include respond-above(sm) {
                    font-size: rem(26);
                }

                @include respond-above(md) {
                    font-size: rem(30);
                }
            }

            p {
                font-size: rem(14);
                color: #808080;
            }
        }
    }

    .article {
        .content {
            text-align: justify;
            margin-bottom: 2rem;


            @include respond-above(sm) {
                margin-bottom: 3rem;
            }

            @include respond-above(md) {
                margin-bottom: 4rem;
                padding: 2rem 1rem 2rem 65px;
            }

            @include respond-above(lg) {
                margin-bottom: 5rem;
            }
        }
    }

    .nav-page {
        position: relative;
       

        @include respond-above(md) {
            padding-left: 65px;
        }
    }

    .nav-page a {
        display: block;
        height: 56px;
        text-align: right;
        background-color: #f7f7f7;
        color: #666;
        line-height: 56px;
        text-decoration: none;
        -moz-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s;
        -webkit-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: rem(14);

        @include respond-above(lg) {
            font-size: 1rem;
        }

        .t1 {
            display: none;

            @include respond-above(md) {
                display: block;
            }
        }

        .t2 {


            @include respond-above(md) {
                display: none;
            }
        }
    }

    .nav-page a:hover {
        background-color: $color-primary;
        color: #fff;
    }

    .nav-page div.prev a {
        padding-right: 28px;
    }

    .nav-page div.prev a:hover {
        padding-right: 25px;
    }

    @media only screen and (min-width: 768px) {
        .nav-page div.prev a:hover {
            padding-right: 55px;
        }
    }

    .nav-page div.prev a:hover:after {
        content: ' ';
        display: inline-block;
        border: 5px #fff solid;
        border-color: transparent;
        border-right-color: #fff;
        position: absolute;
        right: 28px;
        top: 23px;
        z-index: 50;
    }

    .nav-page div.next a {
        text-align: left;
        padding-left: 28px;
    }

    .nav-page div.next a:hover {
        padding-left: 25px;
    }

    @media only screen and (min-width: 768px) {
        .nav-page div.next a:hover {
            padding-left: 55px;
        }
    }

    .nav-page div.next a:hover:before {
        content: ' ';
        display: inline-block;
        border: 5px #fff solid;
        border-color: transparent;
        border-left-color: #fff;
        position: absolute;
        left: 28px;
        top: 23px;
        z-index: 50;
    }

    .nav-page .back {
    }

    .nav-page .back a {
        display: block;
        width: 56px;
        text-align: center;
        background-color: #eee;
    }
}
