.page-products {
    background-color: #f7f7f7;

    @include respond-above (md) {
        padding-left: 130px;
    }

    .s1 {
        padding-bottom: 1rem;

        @include respond-above (sm) {
            padding-bottom: 2rem;
        }

        @include respond-above (md) {
            padding-bottom: 3rem;
        }



        .productlist {
            .item {
                display: block;
                margin-bottom: 30px;
                padding-bottom: 2rem;
                color: #666;

                .pic {
                    border: 1px #fff solid;
                    background-color: #fff;

                    img {
                        width: 100%;
                    }
                }

                .text {
                    padding: 0;

                    h3 {
                        font-size: rem(20);
                        font-weight: normal;
                        font-family: '华文中宋',"Microsoft YaHei", "PingFangSC-Regular","Helvetica Neue", "Helvetica", "Arial", sans-serif;
                        text-align: left;
                        display: inline-block;
                        border-bottom: 1px #eee solid;
                        padding-bottom: 6px;
                        margin-bottom: 10px;

                        @include respond-above (lg) {
                            font-size: rem(24);
                        }
                    }

                    p {
                        padding: 0;
                        margin: 0;
                        font-size: rem(14);

                        @include respond-above (lg) {
                            font-size: 1rem;
                        }
                    }
                }

                &:hover {
                    color: $color-primary;

                    .pic {
                        border: #eee 1px solid;
                    }

                    .text {
                        h3 {
                            border-bottom-color: $color-primary;
                        }
                    }
                }
            }
        }
    }
}

.product-header {
    height: 720px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @include respond-above (md) {
        padding-left: 130px;
    }

    .pic {
        text-align: center;
        padding: 8rem 4rem 0;

        @include respond-above (md) {
            padding: 6rem 0 0;
        }
    }

    .txt {
        writing-mode: vertical-rl;
        color: #fff;
        margin: 0 0 0 auto;

        @include respond-above (md) {
            height: 400px;
            margin: 0 10% 0 auto;
        }

        .title {
            color: #fff;
            font-size: rem(24);
            font-family: '华文中宋',"Microsoft YaHei", "PingFangSC-Regular","Helvetica Neue", "Helvetica", "Arial", sans-serif;
            border-left: 1px #fff solid;
            border-right: 1px #fff solid;
            display: inline-block;

            @include respond-above (md) {
                font-size: rem(36);
            }
        }

        p {
            font-size: 14px;
            font-family: '华文中宋',"Microsoft YaHei", "PingFangSC-Regular","Helvetica Neue", "Helvetica", "Arial", sans-serif;
            line-height: 2.5;
            max-height: 250px;

            @include respond-above (md) {
                font-size: 18px;
                max-height: none;
            }
        }

        img {
            display: block;
            margin: auto auto 16px auto;
        }
    }
}
.page-product-detail {
   

    @include respond-above (md) {
        padding-left: 130px;
    }

    section.detail {
        max-width: 1050px;
        margin: 0 auto;
        padding: 0 1rem;

        img {
            display: block;
        }
    }
}

