.page-products {
    padding-left: 130px;


    .s1 {
        padding-bottom: 1rem;

        @include respond-above (sm) {
            padding-bottom: 2rem;
        }

        @include respond-above (md) {
            padding-bottom: 3rem;
        }



        .productlist {
            .item {
                background-color: #fff;
                display: block;
                margin-bottom: 30px;              
                padding-bottom: 2rem;
                color:#666;
                .pic {
                    border: 1px #fff solid;

                    img {
                        width: 100%;
                    }
                }

                .text {
                    padding: 0;

                    h3 {
                        font-size: rem(24);
                        font-weight: normal;
                        font-family: '华文中宋',"Microsoft YaHei", "PingFangSC-Regular","Helvetica Neue", "Helvetica", "Arial", sans-serif;
                        text-align:left;
                        display:inline-block;
                        border-bottom:1px #eee solid;
                        padding-bottom:6px;
                        margin-bottom:10px;
                    }

                    p {
                     
                        padding: 0;                      
                        margin:0;
                    }

                   
                }

                &:hover {
                    color:$color-primary;
                    .pic {
                        border: #eee 1px solid;
                    }

                    .text {
                        h3{
                            border-bottom-color:$color-primary;
                        }
                    }
                }
            }
        }
    }

}
.page-product-detail {
    .title-section {
        text-align: center;
    }

    .showfull {
        max-width: 820px;
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0,0,0,.1);
        padding: 2rem;
        text-align: center;
        margin: 3rem auto;

        h3 {
            font-size: 1.5rem;


            @include respond-above (sm) {
                font-size: 3rem;
                font-weight: lighter;
            }
        }
    }

    .s3 {
        padding-top: 2rem;

        @include respond-above (sm) {
            padding-top: 3rem;
        }

        @include respond-above (md) {
            padding-top: 4rem;
        }

        @include respond-above (lg) {
            padding-top: 5rem;
        }
    }

    .tab-header {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 9.6px 0.4px rgba(255, 136, 60, 0.1);
        padding: 15px;
        text-align: center;

        @include respond-above (sm) {
            height: 60px;
            padding: 0 15px;
        }

        nav {
            a {
                display: inline-block;
                padding: .3rem 1rem;

                @include respond-above (sm) {
                    height: 60px;
                    line-height: 60px;
                    padding: 0 1rem;
                }

                &.active {
                    background-color: $color-primary;
                    color: #fff;

                    @include respond-above (sm) {
                        background-color: transparent;
                        border-bottom: 1px $color-primary solid;
                        color: $color-primary;
                    }
                }
            }
        }
    }

    .content {
        padding: 1rem 0;
        display: none;

        @include respond-above (sm) {
            padding: 2rem 0;
        }

        &.active {
            display: block;
        }
    }
}
.page-tran {
    .title-section {
        text-align: center;
        margin-bottom: 1.5rem;

        @include respond-above (sm) {
            margin-bottom: 3rem;
        }
    }

    .top {
        text-align: center;
        color: #fff;
        background: #552c16 url('../img/train_bg.jpg') no-repeat center center;
        padding: 1rem 2rem 2rem;
        background-size: cover;

        @include respond-above (sm) {
            padding: 3rem 5rem 4rem;
        }

        h4 {
            font-size: rem(24);
        }

        p {
            font-size: rem(18);
            text-align: justify;

            @include respond-above (sm) {
                font-size: rem(20);
            }
        }
    }

    .main {
        padding-left: 1rem;

        h3 {
            text-align: center;
            font-size: rem(24);
            color: #333;
        }

        h4 {
            font-size: rem(24);
            color: #333;
        }

        ul {
            list-style-image: url(../img/dot.png);
            padding: 0;

            dl {
                dd {
                    margin: 0;
                }
            }
        }

        .note {
            font-size: rem(20);

            @include respond-above (sm) {
                font-size: rem(24);
            }
        }
    }

    .main-v1 {

        h4 {
            font-size: rem(20);
            color: #333;

            @include respond-above (sm) {
                font-size: rem(24);
            }
        }

        .tlist {
            img {
                display: block;
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
}