.page-products {
    background-color: #f7f7f7;

    .s1 {
        padding-bottom: 3rem;

        .title-section {
            text-align: center;
            margin-bottom: 3rem;
        }

        .productlist {
            .item {
                background-color: #fff;
                display: block;
                margin-bottom: 30px;
                text-align: center;
                padding-bottom: 2rem;

                .pic {
                    img {
                        width: 100%;
                    }
                }

                .text {
                    padding: 0 1rem;

                    h3 {
                        font-size: rem(24);
                    }

                    p {
                        font-size: rem(14);
                        padding: 0 1rem;
                        margin-bottom: 1rem;
                    }

                    .more {
                        display: inline-block;
                        padding: .1rem 1rem;
                        background-color: #c9caca;
                        color: #fff;
                        font-size: rem(14);
                    }
                }

                @include hover {
                    .text {
                        .more {
                            background-image: -moz-linear-gradient( 6deg, rgb(255,57,56) 0%, rgb(255,160,37) 100%);
                            background-image: -webkit-linear-gradient( 6deg, rgb(255,57,56) 0%, rgb(255,160,37) 100%);
                            background-image: -ms-linear-gradient( 6deg, rgb(255,57,56) 0%, rgb(255,160,37) 100%);
                        }
                    }
                }
            }
        }
    }

    .s2 {
        padding-top:5rem;
        .title-section {
            text-align: center;
            margin-bottom: 3rem;
        }

        .pxlist {
            .item {
                border: #bfbfbf 1px solid;
                padding: 4rem 2rem;
                text-align:center;
                h3{
                    color:#333;
                    font-size:rem(24);
                }
                .more{
                    display:inline-block;border:1px $color-primary solid;
                    padding:.4rem 2rem;
                    color:$color-primary;
                    font-size:rem(20);
                    margin:2rem auto;
                }
                p{
                    font-size:rem(18);
                }
            }
        }
    }
}
.page-product-detail {
    .title-section {
        text-align: center;
    }

    .showfull {
        max-width: 820px;
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0,0,0,.1);
        padding: 2rem;
        text-align: center;
        margin: 3rem auto;

        h3 {
            font-size: 3rem;
            font-weight: lighter;
        }
    }

    .s3 {
        padding-top: 5rem;
    }

    .tab-header {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 9.6px 0.4px rgba(255, 136, 60, 0.1);
        height: 60px;

        nav {
            a {
                display: inline-block;
                height: 60px;
                line-height: 60px;
                padding: 0 1rem;

                &.active {
                    border-bottom: 1px $color-primary solid;
                    color: $color-primary;
                }
            }
        }
    }

    .content{
        padding:2rem 0;
        display:none;
        &.active{
            display:block;
        }
    }
}
.page-tran {
    .title-section {
        text-align: center;
        margin-bottom: 3rem;
    }

    .top {
        text-align: center;
        color: #fff;
        background: #552c16 url('../img/train_bg.jpg') no-repeat center center;
        padding: 3rem 5rem 4rem;
        background-size: cover;

        h4 {
            font-size: rem(24);
        }

        p {
            font-size: rem(20);
            text-align: justify;
        }
    }

    .main {
        padding-left: 1rem;

        h3 {
            text-align: center;
            font-size: rem(24);
            color: #333;
        }

        h4 {
            font-size: rem(24);
            color: #333;
        }

        ul {
            list-style-image: url(../img/dot.png);
            padding: 0;

            dl {
                dd {
                    margin: 0;
                }
            }
        }

        .note {
            font-size: rem(24);
        }
    }

    .main-v1 {

        h4 {
            font-size: rem(24);
            color: #333;
        }

        .tlist {
            img {
                display: block;
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
}