.banner-search {
    background-color: #333;
    padding-top: 16rem;
    padding-bottom:3rem;


    .searchform {
        max-width: 500px;
        margin: 0 auto;
        .form-control{
            width:100%;
            padding:.7rem .8rem;
            border:none;
        }
    }
}
.page-search {


    .results {
        .item {
            padding: 2rem 0;
            border-bottom: 1px #ddd solid;

            .thumb {
                width: 220px;
            }



            .des {
                padding-top: 2rem;
                padding-bottom: 2.5rem;

                time {
                    color: $color-text-weak;
                    font-size: rem(14);
                }

                h3 {
                    margin: 0;
                    font-size: rem(20);
                }

                strong{
                    color:$color-primary;
                }
            }

            @include hover {
                background-color: #d7ddeb;
            }
        }
    }
}
