.banner-search {
    background-color: #333;
    padding-top: 4rem;
    padding-bottom: 3rem;

    @include respond-above(sm) {
        padding-top: 5rem;
    }

    .searchform {
        max-width: 922px;
        margin: 0 auto;

        .form-control {
            width: 100%;
            padding: .7rem .8rem;
            border: none;
            font-size: 1.2rem;

            @include respond-above(sm) {
                font-size: 1.5rem;
            }
        }

        .btn-primary {
            background-color: #fff;
            color: #333;

            .iconfont {
                font-size: 1.55rem;

                @include respond-above(sm) {
                    font-size: 1.85rem;
                }
            }
        }
    }
}
.page-search {


    .results {
        .item {
            border-bottom: 1px #ddd solid;

            a {
                text-decoration: none;
                padding-top: 1rem;
                padding-bottom: 1rem;

                @include respond-above(sm) {
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                }

                .title {
                    color: #999;

                    strong {
                        color: #333;
                    }
                }

                .pubdate {
                    color: #999;
                    width: 90px;
                    text-align: right;

                    @include respond-above(sm) {
                        width: 120px;
                    }
                }





                &:hover {
                    background-color: #d7ddeb;
                    text-decoration: none;
                }
            }
        }
    }
}
