.page-services {
    font-size: rem(24);

    .p1 {
        margin-bottom: 5rem;
    }

    .s1 {
        margin-bottom: 7rem;
    }

    .p2 {
        margin-bottom: 3rem;
    }

    .more {
        display: block;
        border: 1px #666 solid;
        width: 135px;
        height: 43px;
        text-align: center;
        line-height: 41px;
        font-weight: bold;
        font-size: 1rem;
    }

    .s2 {
        margin-bottom: 7rem;

        .list {
            max-width: 1200px;
            margin: 0 auto;

            .item {
                width: 303px;
                margin: 0 auto 3rem;

                h3 {
                    border-bottom: 5px $color-primary solid;
                    white-space: nowrap;
                    font-weight: bold;
                    margin-bottom: 0;
                    margin-top: 1rem;
                }

                p {
                    font-size: rem(20);
                    margin-top: .5rem;
                }
            }
        }

        ul.u1 {
            @include reset-list();
            margin-bottom: 3rem;
        }
    }

    .s3 {
        margin-bottom: 7rem;

        
    }
}
