.page-service {
    .s1 {
        .title-section {
            text-align: center;
            margin-bottom: 2rem;
        }

        .p1 {
            font-size: 1rem;
            text-align: center;
            margin-bottom: 1rem;

            @include respond-above (lg) {
                font-size: 1rem;
                margin-bottom: 2rem;
            }

            @include respond-above (xlg) {
                font-size: rem(18);
                margin-bottom: 3rem;
            }
        }

        .a1 {
            .item {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                display: block;
                margin-bottom: 1rem;

                aside {
                    background-color: rgba(0, 0, 0, 0.74);
                    padding: 9rem 3rem 3rem;
                    height: 100%;
                    color: #fff;
                    text-align: center;
                    transition: all .2s;
                    box-sizing: border-box;
                    height: 533px;

                    .txt {
                        transition: all .2s;
                    }

                    .icon {
                    }

                    h4 {
                        font-size: rem(26);
                        line-height: 1;

                        &::after {
                            content: " ";
                            display: block;
                            height: 1px;
                            background-color: #fff;
                            width: 46px;
                            margin: 15px auto 0;
                            transition: all .2s;
                        }
                    }

                    p {
                        font-size: 1rem;
                        text-align: justify;
                        opacity: 0;
                        transition: all .2s;
                    }

                    &:hover {
                        padding: 6rem 3rem 3rem;
                        background-image: -moz-linear-gradient( 90deg, rgba(255,57,56,0.741) 0%, rgba(255,160,37,0.741) 100%);
                        background-image: -webkit-linear-gradient( 90deg, rgba(255,57,56,0.741) 0%, rgba(255,160,37,0.741) 100%);
                        background-image: -ms-linear-gradient( 90deg, rgba(255,57,56,0.741) 0%, rgba(255,160,37,0.741) 100%);



                        .txt {
                            margin-top: -10px;
                        }



                        p {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }


    .a1 .item1 {
        background-image: url(../img/service_b1.jpg);
    }

    .a1 .item2 {
        background-image: url(../img/service_b2.jpg);
    }

    .a1 .item3 {
        background-image: url(../img/service_b3.jpg);
    }

    .a1 .item4 {
        background-image: url(../img/service_b4.jpg);
    }
}
