.mplnone {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagebg {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.m-b-50 {
  margin-bottom: 50px;
}
.pt40 {
  padding-top: 40px;
}
.m-t-50 {
  margin-top: 50px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-t-25 {
  padding-top: 25px;
}
.p-t-40 {
  padding-top: 40px;
}
.p-t-50 {
  padding-top: 50px;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.owl-controls {
  height: 50px;
  width: 100%;
}
.owl-controls .owl-nav {
  float: left;
  padding-top: 10px;
}
@media only screen and (max-width: 767px) {
  .owl-controls .owl-nav {
    display: none;
  }
}
.owl-controls .owl-nav .owl-next,
.owl-controls .owl-nav .owl-prev {
  display: inline-block;
  height: 26px;
  width: 26px;
  border-radius: 3px;
  background-color: #f1f1f1;
  text-align: center;
  margin-right: 6px;
  line-height: 26px;
}
.owl-controls .owl-dots {
  float: right;
}
.owl-controls .owl-dots .owl-dot {
  display: inline-block;
  margin: 15px 0 15px 10px;
}
.owl-controls .owl-dots .owl-dot span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #666;
}
.owl-controls .owl-dots .owl-dot.active span {
  background-color: #ff6a00;
}
.home-carousel {
  position: relative;
}
.home-carousel .owl-controls {
  height: auto;
}
.home-carousel .owl-controls .owl-nav {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  z-index: 5000;
  margin-top: -40px;
}
@media only screen and (max-width: 767px) {
  .home-carousel .owl-controls .owl-nav {
    display: none;
  }
}
.home-carousel .owl-controls .owl-nav .owl-next,
.home-carousel .owl-controls .owl-nav .owl-prev {
  display: inline-block;
  float: left;
  height: 70px;
  width: 70px;
  color: #fff;
  border-radius: 0 6px 6px 0;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  margin-right: 0;
  line-height: 70px;
}
.home-carousel .owl-controls .owl-nav .owl-next .iconfont,
.home-carousel .owl-controls .owl-nav .owl-prev .iconfont {
  font-size: 24px;
}
.home-carousel .owl-controls .owl-nav .owl-prev {
  float: right;
  border-radius: 6px 0 0 6px ;
}
.home-carousel .owl-controls .owl-dots {
  bottom: 15px;
  z-index: 9000;
  position: absolute;
  left: 0;
  width: 100%;
  float: none;
  text-align: center;
}
.home-carousel .owl-controls .owl-dots .owl-dot {
  display: inline-block;
  margin: 15px 0 15px 10px;
}
.home-carousel .owl-controls .owl-dots .owl-dot span {
  display: block;
  width: 50px;
  height: 5px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
@media only screen and (max-width: 767px) {
  .home-carousel .owl-controls .owl-dots .owl-dot span {
    display: none;
  }
}
.home-carousel .owl-controls .owl-dots .owl-dot.active span {
  background-color: #ff6a00;
}
.dl-horizontal dt {
  float: left;
  width: 100px;
  padding: 5px 0;
  margin: 0;
}
.dl-horizontal dd {
  padding: 5px 0;
  border-bottom: 1px #ddd dotted;
  margin: 0;
  margin-left: 105px;
}
.navbar {
  margin-bottom: 0;
}
.pagination > li > a,
.pagination > li > span {
  color: #555555;
}
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: #36c1a7;
  border-color: #36c1a7;
}
.table-vmiddle th,
.table-vmiddle td {
  vertical-align: middle !important;
}
.breadcrumb {
  background-color: transparent;
}
.navbar {
  position: relative;
  border: none;
  text-align: right;
  padding-top: 24px;
}
.navbar ul.mainav {
  margin: 0;
}
.navbar ul.mainav li {
  display: inline-block;
}
.navbar ul.mainav li a {
  font-size: 16px;
  text-decoration: none;
  display: block;
  height: 29px;
  line-height: 29px;
  padding: 0 25px;
  border-radius: 15px;
  color: #fff;
}
.navbar ul.mainav li a:hover {
  color: #ff9f03;
}
.navbar ul.mainav li.active a {
  color: #ff9f03;
}
.navbar ul.mainav li.orange a {
  background-color: #ff9f03;
  color: #fff;
}
/*
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .table-download {
    border-bottom: 1px #ccc solid;
    display: block;
    /*
		    Label the data
		    */
  }
  .table-download thead,
  .table-download tbody,
  .table-download th,
  .table-download td,
  .table-download tr {
    display: block;
  }
  .table-download thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-download td {
    /* Behave  like a "row" */
    vertical-align: middle;
    border: none;
    position: relative;
    padding-left: 50% !important;
  }
  .table-download td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .table-download td:nth-of-type(1):before {
    content: "";
  }
  .table-download td:nth-of-type(2):before {
    content: "主题";
  }
  .table-download td:nth-of-type(3):before {
    content: "分类";
  }
  .table-download td:nth-of-type(4):before {
    content: "文件大小";
  }
  .table-download td:nth-of-type(5):before {
    content: "下载次数";
  }
  .table-download td:nth-of-type(6):before {
    content: "下载密码";
  }
  .table-download td:nth-of-type(7):before {
    content: "下载";
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    width: 100%;
  }
}
/* contact start ==================================================  */
.page-contact {
  margin-bottom: 50px;
}
.page-contact .contactform,
.page-contact .bus-path {
  background-color: #f7f7f7;
  border-radius: 6px;
  padding: 15px 25px;
  margin-bottom: 15px;
}
.page-contact h3.title {
  font-size: 24px;
  font-weight: normal;
  color: #333333;
  margin: 0 0 20px;
}
.page-contact h4.setitle {
  font-size: 18px;
  font-weight: normal;
  color: #222222;
  margin: 0 0 5px;
}
.page-contact ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
}
.page-contact ul li {
  border-bottom: #eeeeee 1px solid;
  padding: 8px 0;
}
.baidumap {
  width: 100%;
  height: 450px;
  margin-bottom: 50px;
}
.sendform .box-header {
  margin-bottom: 20px;
}
.sendform .box-header h3 {
  font-size: 24px;
  font-weight: normal;
  color: #333333;
  margin: 0;
}
.sendform .box-header p {
  margin: 0;
}
.sendform .send_email .form-control {
  border: 3px #eeeeee solid;
  padding: 5px;
  height: 40px;
  margin-bottom: 15px;
  font-size: 16px;
  width: 100%;
  border-radius: 0 12px;
}
.sendform .send_email .form-control:focus {
  outline-style: none;
  border-color: #f90;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0 0 6px;
}
.sendform .send_email textarea.form-control {
  height: auto;
}
.sendform .send_email .btn {
  border: none;
  background-color: #555555;
  color: #fff;
  padding: 5px 15px;
  font-size: 18px;
  border-radius: 0 12px;
  border: 3px #eeeeee solid;
}
.sendform .send_email .btn:hover {
  background-color: #ff9f03;
}
.sendform .send_email p {
  margin: 0;
  margin-bottom: 30px;
}
/* contact end ==================================================  */
.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  height: 41px;
  background-color: #4cdbc3;
  border-color: #36c1a7;
}
.btn-primary:hover {
  background-color: #25af94;
  border-color: #25af94;
}
input.input-validation-error {
  border-color: #d9534f;
}
.form-control:focus {
  border-color: #36c1a7;
  box-shadow: none;
}
.field-validation-error {
  color: #d9534f;
  display: block;
  margin-top: 5px;
  text-align: right;
}
.btn {
  border: 1px #eee solid;
  border-radius: 4px;
  height: 38px;
  line-height: 36px;
  padding: 0 25px;
  background-color: #ffffff;
}
.btn.btn-b-orange {
  border: 1px #ff9f03 solid;
  color: #ff9f03;
  transition: all 250ms;
}
.btn.btn-b-orange:hover {
  background-color: #ff9f03;
  color: #fff;
}
.btn.btn-lg {
  line-height: 46px;
  padding: 0 42px;
  height: 48px;
}
.page-news {
  margin-bottom: 50px;
}
.page-news .articleList .section-title {
  border-bottom: 1px #e0e0e0 solid;
  height: 51px;
  margin-bottom: 6px;
}
.page-news .articleList .section-title h2 {
  height: 50px;
  border-bottom: #ff9f03 4px solid;
  display: inline-block;
  margin: 0;
  line-height: 46px;
  font-size: 18px;
  color: #030303;
  font-weight: normal;
}
.page-news .articleList .box {
  padding: 50px 15px 40px 0;
}
.page-news .articleList .box:hover {
  background-color: #f5f5f5;
}
.page-news .articleList .box .thumb img {
  width: 100%;
}
.page-news .articleList .box .art-title {
  font-size: 24px;
  color: #030303;
  margin: 0 0 10px;
}
.page-news .articleList .box .note {
  color: #999;
}
.page-news .articleList .box .note .iconfont {
  font-size: 20px;
  color: #ff9f03;
}
.page-news .articleList .box p {
  color: #999;
}
.page-news .zhuanlan {
  border-top: 1px #e0e0e0 solid;
  margin-top: 50px;
  text-align: center;
  background-color: #fafafa;
  padding: 0 15px 25px;
}
.page-news .zhuanlan .art-title {
  margin: 0;
  display: inline-block;
  border-top: 2px #ff9f03 solid;
  height: 56px;
  line-height: 48px;
  font-size: 18px;
  color: #030303;
  font-weight: normal;
}
.page-news .zhuanlan img {
  width: 100%;
}
.page-news .zhuanlan ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-news .zhuanlan ul li {
  background: url(../img/dot.png) no-repeat left 11px;
  padding-left: 20px;
  text-align: left;
  margin-bottom: 15px;
}
.page-news .zhuanlan ul li a {
  display: block;
}
.page-news .zhuanlan ul li time {
  color: #999;
  font-size: 12px;
}
.banner {
  background: url(../img/banner/banner_about.jpg) no-repeat center top;
  height: 500px;
  padding-top: 136px;
}
.banner .page-title {
  background: url(../img/title.png) no-repeat left 60px;
  color: #fff;
  padding-left: 135px;
  padding-top: 50px;
}
.banner .page-title h1 {
  font-size: 50px;
  margin: 0;
  font-weight: normal;
}
.banner .page-title h3 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
}
.banner .des {
  color: #fff;
}
.banner .des h2 {
  font-size: 30px;
  margin: 0;
  font-weight: normal;
}
.page-about {
  padding-top: 75px;
  margin-bottom: 120px;
}
.page-about .title {
  text-align: center;
  border-bottom: 1px #f0f0f0 solid;
  width: 300px;
  margin: 0 auto 35px;
  height: 50px;
}
.page-about .title h2 {
  display: inline-block;
  height: 50px;
  padding: 0 15px;
  margin: 0;
  color: #030303;
  position: relative;
}
.page-about .title h2:after {
  content: " ";
  display: block;
  width: 70px;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  height: 3px;
  background-color: #ff9f03;
  bottom: 0;
}
.page-about p {
  line-height: 1.8;
}
.page-about .intro {
  margin-bottom: 60px;
}
.page-about .tab-header {
  width: 70%;
  border: 1px #ff9f03 solid;
  margin: 0 auto;
  height: 60px;
  margin-bottom: 50px;
}
.page-about .tab-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-about .tab-header ul li {
  float: left;
  width: 50%;
}
.page-about .tab-header ul li a {
  display: block;
  height: 58px;
  font-size: 18px;
  text-align: center;
  line-height: 58px;
  color: #ff9f03;
  text-decoration: none;
}
.page-about .tab-header ul li a.active {
  background-color: #ff9f03;
  color: #fff;
}
.page-about .tab-header ul li:last-child {
  float: right;
}
.page-about .tabone {
  display: none;
  margin-bottom: 40px;
}
.page-about .tabone.active {
  display: block;
}
.page-about .tabone .item {
  text-align: center;
  padding: 15px 25px;
  margin-bottom: 20px;
  background-image: -moz-linear-gradient(90deg, #e6e6e6 0%, #f1f1f1 16%, #fcfcfc 100%);
  background-image: -webkit-linear-gradient(90deg, #e6e6e6 0%, #f1f1f1 16%, #fcfcfc 100%);
  background-image: -ms-linear-gradient(90deg, #e6e6e6 0%, #f1f1f1 16%, #fcfcfc 100%);
  height: 420px;
  padding-top: 50px;
}
.page-about .tabone .item .thumb {
  text-align: center;
}
.page-about .tabone .item .thumb img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px #ff9f03 solid;
}
.page-about .tabone .item h3 {
  font-size: 20px;
  font-weight: normal;
  color: #030303;
  position: relative;
}
.page-about .tabone .item h3:after {
  content: " ";
  display: block;
  width: 30px;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  height: 1px;
  background-color: #ff9f03;
  top: 35px;
}
.page-about .tabone .item h4 {
  font-weight: normal;
  font-size: 16px;
  color: #ff9f03;
  margin: 0;
}
.page-about .tabone .item p {
  margin: 0;
  text-align: left;
}
.page-about .tabone .item.item1 {
  padding-top: 25px;
  text-align: left;
  height: 200px;
}
.page-about .tabone .item.item1 .thumb img {
  width: 100px;
  height: 100px;
}
.page-about .tabone .item.item1 h3 {
  margin-top: 0;
}
.page-about .tabone .item.item1 h3:after {
  left: 0;
  margin-left: 0;
}
.page-about .fangxiang ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.page-about .fangxiang ul li {
  width: 20%;
  float: left;
  padding: 0 4px;
  position: relative;
  overflow: hidden;
}
.page-about .fangxiang ul li img {
  width: 100%;
}
.page-about .fangxiang ul li .des {
  position: absolute;
  left: 4px;
  top: 0;
  right: 4px;
  z-index: 100;
  color: #fff;
  padding-top: 80px;
  height: 100%;
  transition: all 250ms;
}
.page-about .fangxiang ul li .des .thumb {
  text-align: center;
  position: relative;
}
.page-about .fangxiang ul li .des .thumb .iconfont {
  font-size: 50px;
  line-height: 1.5;
}
.page-about .fangxiang ul li .des .thumb:after {
  content: " ";
  display: block;
  width: 20px;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  height: 2px;
  background-color: #fff;
  bottom: 0;
}
.page-about .fangxiang ul li .des h3 {
  font-size: 20px;
  text-align: center;
  margin: 5px 0;
}
.page-about .fangxiang ul li .des p {
  display: none;
}
.page-about .fangxiang ul li .des:hover {
  background-color: #ff9f03;
  color: #000;
  padding-top: 30px;
}
.page-about .fangxiang ul li .des:hover .thumb:after {
  background-color: #000;
}
.page-about .fangxiang ul li .des:hover p {
  display: block;
  font-size: 14px;
  padding: 0 15px;
  margin: 0;
  text-align: justify;
}
.banner-service {
  background-image: url(../img/banner/banner_service.jpg);
}
.page-service {
  margin-bottom: 0;
}
.page-service .title {
  margin-bottom: 70px;
}
.page-service .pic {
  text-align: center;
  margin-bottom: 50px;
}
.page-service .pic img {
  max-width: 100%;
}
.page-service .four {
  margin-bottom: 80px;
}
.page-service .four .item {
  text-align: center;
  padding: 15px;
}
.page-service .four .item .iconfont {
  font-size: 50px;
  color: #ff9f03;
}
.page-service .four .item h3 {
  color: #ff9f03;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}
.page-service .four .item p {
  font-size: 14px;
  text-align: justify;
}
.page-service .teams {
  background: #04052c url(../img/s2.jpg) no-repeat center center;
  height: 500px;
  background-size: cover;
  color: #fff;
}
.page-service .teams .item {
  padding: 58px 120px;
}
.page-service .teams h3 {
  font-size: 28px;
  text-align: center;
  margin: 0;
  font-weight: normal;
}
.page-service .twoinfo {
  background-color: #edeffa;
  padding: 55px 0 15px;
  margin-bottom: 60px;
}
.page-service .twoinfo .pic {
  text-align: right;
}
.page-service .twoinfo .pic img {
  max-width: 100%;
}
.page-service .twoinfo .list {
  padding-top: 10px;
  color: #333;
}
.page-service .twoinfo .list dd {
  width: 315px;
  height: 100px;
}
.page-service .tab-header {
  width: auto;
  text-align: center;
  border: none;
  margin: 0 auto;
  height: auto;
  margin-bottom: 50px;
}
.page-service .tab-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-service .tab-header ul li {
  display: inline-block;
  float: none;
  width: auto;
  margin-bottom: 6px;
}
.page-service .tab-header ul li a {
  display: block;
  padding: 12px 25px;
  line-height: 1.6;
  border: 1px #ff9f03 solid;
  text-align: center;
  color: #ff9f03;
  font-size: 14px;
  text-decoration: none;
  height: auto;
}
@media only screen and (min-width: 1200px) {
  .page-service .tab-header ul li a {
    padding: 15px 32px;
    font-size: 16px;
  }
}
.page-service .tab-header ul li a.active {
  background-color: #ff9f03;
  color: #fff;
}
.page-service .tab-header ul li:last-child {
  float: none;
}
.page-service .tabtwo {
  display: none;
}
.page-service .tabtwo.active {
  display: block;
}
.page-service .tabtwo .top {
  background: url(../img/s4.jpg) no-repeat center center;
  height: 300px;
  background-size: cover;
}
.page-service .tabtwo .top.top1 {
  background-image: url(../img/s10.jpg);
}
.page-service .tabtwo .bot {
  background: #fafafa url(../img/s6.jpg) no-repeat center bottom;
  padding-top: 75px;
  padding-bottom: 90px;
}
.page-service .tabtwo .bot img {
  max-width: 100%;
}
.page-service .tabtwo .item2 {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  min-height: 440px;
}
.page-service .tabtwo .item2 .thumb {
  margin-bottom: 20px;
}
.page-service .tabtwo .item2 .thumb img {
  max-width: 100%;
}
.page-service .tabtwo .item2 h3 {
  text-align: left;
  color: #ff9f03;
  font-size: 20px;
  position: relative;
  padding-bottom: 15px;
  margin: 0;
}
.page-service .tabtwo .item2 h3:after {
  content: " ";
  display: block;
  width: 25px;
  position: absolute;
  left: 0;
  height: 2px;
  background-color: #ff9f03;
  bottom: 0;
}
.page-service .tabtwo .item2 h3 .iconfont {
  font-size: 36px;
  font-weight: normal;
}
.page-service .tabtwo .item2 p {
  text-align: left;
  font-size: 14px;
}
.page-service .tabtwo .item2.item4 {
  min-height: 460px;
}
.page-service .tabtwo .item3 {
  padding: 15px 25px;
}
.page-service .tabtwo .item3 p {
  text-align: left;
}
.page-service .tab5 {
  background: #fafafa url(../img/s6.jpg) no-repeat center bottom;
  padding-top: 75px;
  padding-bottom: 150px;
}
.page-service .tab5 .pic {
  text-align: center;
}
.page-service .tab5 .pic img {
  max-width: 100%;
}
.page-service .tab5 .stitle {
  color: #ff9f03;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}
.page-service .tab5 p {
  font-size: 14px;
}
.nav-page {
  position: relative;
  height: 120px;
}
.nav-page a {
  display: block;
  height: 56px;
  text-align: right;
  background-color: #f7f7f7;
  color: #666;
  line-height: 56px;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.nav-page a:hover {
  background-color: #36c1a7;
  color: #fff;
}
.nav-page div.prev a {
  padding-right: 60px;
  margin: 0 -15px;
}
.nav-page div.prev a:hover {
  padding-right: 75px;
}
@media only screen and (min-width: 768px) {
  .nav-page div.prev a:hover {
    padding-right: 135px;
  }
}
.nav-page div.prev a:hover:after {
  content: ' ';
  display: inline-block;
  border: 5px #fff solid;
  border-color: transparent;
  border-right-color: #fff;
  position: absolute;
  right: 60px;
  top: 23px;
  z-index: 50;
}
.nav-page div.next a {
  text-align: left;
  margin: 0 -15px;
  padding-left: 60px;
}
.nav-page div.next a:hover {
  padding-left: 75px;
}
@media only screen and (min-width: 768px) {
  .nav-page div.next a:hover {
    padding-left: 135px;
  }
}
.nav-page div.next a:hover:before {
  content: ' ';
  display: inline-block;
  border: 5px #fff solid;
  border-color: transparent;
  border-left-color: #fff;
  position: absolute;
  left: 60px;
  top: 23px;
  z-index: 50;
}
.nav-page .back {
  position: absolute;
  left: 50%;
  width: 56px;
  text-align: center;
  margin-left: -28px;
  background-color: #eee;
}
.nav-page .back a {
  text-align: center;
}
.nav-page .back a .iconfont {
  font-size: 24px;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font-family: "Microsoft YaHei", 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 16px;
  color: #666;
  background-color: #fff;
  line-height: 1.6;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #ff9f03;
  text-decoration: none;
}
figure {
  margin: 0;
}
.clearfix {
  overflow: auto;
  _height: 1%;
}
.divider {
  border: none;
  border-bottom: 1px #ddd dashed;
}
.searchbox {
  height: 850px;
  background: #0f1221 url(../img/home_bg.jpg) no-repeat top center;
  padding-top: 308px;
  margin-bottom: 40px;
}
.searchbox .box {
  width: 642px;
  margin: 0 auto;
  text-align: center;
}
.searchbox .box .logo {
  margin-bottom: 50px;
}
.searchbox .box .form {
  height: 48px;
  border-radius: 24px;
  border: #b6bbc6 1px solid;
  padding-right: 80px;
  padding-left: 20px;
  position: relative;
}
.searchbox .box .form input {
  background-color: transparent;
  height: 46px;
  color: #fff;
  border: none;
  font-size: 18px;
}
.searchbox .box .form button {
  border: none;
  width: 46px;
  height: 46px;
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 100;
  background-color: transparent;
}
.searchbox .box .form button:focus {
  outline: none;
}
.searchbox .box .form button .iconfont {
  font-size: 28px;
  color: #fff;
}
.pageHeader {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
  transition: all 800ms ease;
  z-index: 392;
}
@media only screen and (min-width: 768px) {
  .pageHeader {
    height: 78px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.pageHeader .logo {
  padding-top: 5px;
  display: block;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .pageHeader .logo {
    padding-top: 8px;
  }
}
.pageHeader .logo .iconfont {
  font-size: 18px;
  color: #36c1a7;
}
@media only screen and (min-width: 768px) {
  .pageHeader .logo .iconfont {
    font-size: 24px;
  }
}
.pageHeader .openmenu {
  height: 36px;
  width: 36px;
  position: absolute;
  top: 2px;
  right: 15px;
}
.pageHeader .openmenu a {
  text-decoration: none;
  color: #666;
}
.pageHeader .openmenu a .iconfont {
  font-size: 28px;
  height: 40px;
  width: 40px;
  display: block;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .pageHeader .openmenu {
    top: 8px;
  }
}
@media only screen and (min-width: 992px) {
  .pageHeader .openmenu {
    display: none;
  }
}
.section2 {
  margin-bottom: 50px;
}
.section2 .lastestNews .section-title {
  border-bottom: 1px #e0e0e0 solid;
  height: 51px;
  margin-bottom: 6px;
}
.section2 .lastestNews .section-title h2 {
  height: 50px;
  border-bottom: #ff9f03 4px solid;
  display: inline-block;
  margin: 0;
  line-height: 46px;
  font-size: 18px;
  color: #030303;
  font-weight: normal;
}
.section2 .lastestNews .box {
  padding: 50px 15px 40px 0;
}
.section2 .lastestNews .box:hover {
  background-color: #f5f5f5;
}
.section2 .lastestNews .box .thumb img {
  width: 100%;
}
.section2 .lastestNews .box .title {
  font-size: 24px;
  color: #030303;
  margin: 0 0 10px;
}
.section2 .lastestNews .box .note {
  color: #999;
}
.section2 .lastestNews .box p {
  color: #999;
}
.section2 hr.nomt {
  margin-top: 0;
}
.section2 .chart {
  border-top: 1px #e0e0e0 solid;
  margin-top: 50px;
  text-align: center;
}
.section2 .chart .art-title {
  margin: 0;
  display: inline-block;
  border-top: 2px #ff9f03 solid;
  height: 56px;
  line-height: 48px;
  font-size: 18px;
  color: #030303;
  font-weight: normal;
}
.section2 .chart img {
  width: 100%;
}
.section2 .chart.zhuanlan {
  background-color: #fafafa;
  padding: 0 15px 25px;
}
.section2 .chart.zhuanlan ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section2 .chart.zhuanlan ul li {
  background: url(../img/dot.png) no-repeat left 11px;
  padding-left: 20px;
  text-align: left;
  margin-bottom: 15px;
}
.section2 .chart.zhuanlan ul li a {
  display: block;
}
.section2 .chart.zhuanlan ul li time {
  color: #999;
  font-size: 12px;
}
.section3 {
  margin-bottom: 120px;
}
.section3 .ad img {
  width: 100%;
}
.page-footer {
  width: 100%;
  background-color: #0a0a0a;
  color: #b2b2b2;
  font-size: 14px;
}
.page-footer a {
  color: #ff9f03;
}
.page-footer a:hover {
  text-decoration: underline;
}
.page-footer .links {
  padding-top: 40px;
  margin-bottom: 20px;
}
.page-footer .links h3.title {
  font-size: 14px;
  font-weight: normal;
  color: #ff9f03;
  margin: 12px 0 20px;
}
.page-footer .links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-footer .links ul li {
  float: left;
  margin-right: 10px;
  margin-bottom: 29px;
}
.page-footer .copyright {
  background: url(../img/bot_logo.png) no-repeat left center;
  padding: 20px 0 20px 60px;
  border-top: 1px #666 solid;
}
.page-footer .top {
  height: 40px;
  width: 128px;
  border-left: 2px #373737 solid;
  border-right: 2px #373737 solid;
  margin: 0 auto;
}
.page-footer .qrcode {
  width: 200px;
  height: 280px;
  border: 8px #373737 solid;
  text-align: center;
  padding-top: 30px;
  margin: 0 auto;
  color: #fff;
}
.page-footer .qrcode img {
  margin-bottom: 15px;
  border: 5px #fff solid;
}
.page-footer .qrcode strong {
  font-size: 20px;
  font-weight: normal;
  display: block;
  text-align: center;
}
.pusher {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 6000;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
.pusher .rightnav {
  background-color: #000;
  width: 150px;
  right: -150px;
  top: 0;
  position: absolute;
  height: 100%;
  color: #fff;
  padding-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 0 3px inset;
}
.pusher .rightnav ul.mainav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pusher .rightnav ul.mainav li {
  padding: 3px 15px;
}
.pusher .rightnav ul.mainav li a {
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 6px;
}
.pusher .rightnav ul.mainav li a:hover {
  color: #4d4d4d;
  background-color: #000000;
}
.pusher .rightnav ul.mainav li.active a {
  background-color: #000000;
}