<header id="pageHeader" class="pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-2">
                <a href="@Url.Action("Index", "Home")" class="logo">
                    <img src="~/Themes/PingAn/Content/img/logo_top.png" alt="@SettingsManager.Site.SiteName"/>
                </a>
            </div>
            <div class="col-xs-6 col-sm-10">
                <div class="openmenu">
                    <a href="#"><i class="iconfont">&#xe611;</i></a>
                </div>

                <nav class="navbar hidden-xs hidden-sm" role="navigation">
                    @Html.Action("SiteNav", "Menu")
                </nav>
            </div>
        </div>

    </div>
</header>