
    <footer class="site-footer">
        <div class="iconsocai">
            <a href="#">
                <i class="iconfont icon-cart2f"></i>
            </a>
            <a href="javascript:void(0);" class="wechat">
                <i class="iconfont icon-wechat"></i>
                <img src="@SettingsManager.Company.WeiXingCode" alt="" />
            </a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <p>
                        Copyright &copy; 2019 @SettingsManager.Company.CompanyName all rights reserved <br /><a href="http://www.beian.miit.gov.cn/">@SettingsManager.Site.WebNumber</a>
                    </p>
                </div>
                <div class="col-md-auto">
                    @Html.Action("SiteFooterNav", "Menu", new { cid = 3 })
                </div>
            </div>


        </div>
    </footer>