
<header id="pageHeader" class="site-header">
    <div class="container">
        <div class="topcol">
            <div class="row no-gutters align-items-center">
                <div class="col">

                </div>
                <div class="col-auto">
                    <div class="icon">
                        <i class="iconfont icon-phone-ringing"></i>
                    </div>
                </div>
                <div class="col-auto">
                    0757—81230272
                </div>
                <div class="col-auto">
                    <div class="icon">
                        <i class="iconfont icon-email"></i>
                    </div>
                    </div>
                    <div class="col-auto">
                        Sales@Framemac.com
                    </div>
                    <div class="col-auto">
                        <img src="~/Content/img/lang_cn.png" alt="中文" />
                    </div>
                    <div class="col-auto">
                        CN
                    </div>
                    <div class="col-auto">
                        <img src="~/Content/img/lang_en.png" alt="English" />
                    </div>
                    <div class="col-auto">
                        EN
                    </div>
                    <div class="col-auto">
                        <img src="~/Content/img/lang_es.png" alt="España" />
                    </div>
                    <div class="col-auto">
                        España
                    </div>

                </div>
        </div>
        <div class="row logo_nav align-items-center">
            <div class="col-auto">
                <a href="@Url.Action("Index", "Home")" class="logo">
                    @*<img src="/Content/img/logo.png" alt="@SettingsManager.Site.SiteName" />*@
                </a>
            </div>
            <div class="col">
                <div class="openmenu">
                    <a href="#"><i class="iconfont icon-menu"></i></a>
                </div>

                <nav class="navbar" role="navigation">
                    @Html.Action("SiteNav", "Menu", new { cid = 2 })
                </nav>
            </div>
            <div class="col-auto">
                <form class="form-inline" action="/search">
                    <div class="searchbox">
                        <div class="row no-gutters">
                            <div class="col"> <input name="SearchTerm"  autocomplete="off" /></div>
                            <div class="col-auto"><button type="submit"><i class="iconfont icon-search"></i></button></div>
                        </div>                       
                    </div>
                </form>
            </div>
        </div>

    </div>
</header>

