@model IEnumerable<Link>
<section class="links clearfix">
    <h3 class="title">
        合作机构
    </h3>
    <ul>
        @foreach (var item in Model)
    {
        <li>
            <a href="@item.WebLink">
                <img src="@item.LogoUrl" alt="@item.Title" />
            </a>
        </li>
}

    </ul>
</section>